- content_for :head do
  = stylesheet_link_tag "pages/account/registrations-bundle", :media => "all"
  = javascript_include_tag "pages/account/registrations-bundle"
  :javascript
    window.role = "#{@role}"

.container
  .row
    #teacher-regi.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
      = form_tag(account_registrations_path, id: "teacher-regi-form", method: "post", multipart: true) do
        = link_to "我是学生", "javascript:void(0);", class: 'user-role student-role'
        %fieldset
          %legend 教师注册
          .form-group
            = label_tag :teacher_email_mobile, "邮箱"
            = text_field_tag :teacher_email_mobile, "", :autofocus => true, class: "form-control"
          .form-group
            = label_tag :teacher_password, "密码"
            = text_field_tag :teacher_password, "", class: "form-control"
          .form-group
            = label_tag :teacher_name, "姓名"
            = text_field_tag :teacher_name, "", class: "form-control"
          .form-group
            = label_tag :teacher_school, "学校"
            = text_field_tag :teacher_school, "", class: "form-control"
          .form-group
            = label_tag :teacher_subject, "学科"
            = select_tag :teacher_subject, options_for_select(Subject::CODE, 2), class: "form-control"
          .form-group
            = label_tag :teacher_invite_code, "邀请码"
            = text_field_tag :teacher_invite_code, "", class: "form-control"
          .content
            .login.right
              = link_to "已有帐号，立即登录", new_account_session_path
          = submit_tag "注册", class: "btn btn-primary"
    #student-regi.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1.hide
      = form_tag(account_registrations_path, id: "student-regi-form", method: "post", multipart: true) do
        = link_to "我是教师", "javascript:void(0);", class: 'user-role teacher-role'
        %fieldset
          %legend 学生注册
          .form-group
            = label_tag :student_email_mobile, "手机"
            = text_field_tag :student_email_mobile, "", :autofocus => true, class: "form-control"
          .form-group
            = label_tag :student_password, "密码"
            = text_field_tag :student_password, "", class: "form-control"
          .form-group
            = label_tag :student_name, "姓名"
            = text_field_tag :student_name, "", class: "form-control"
          .content
            .login.right
              = link_to "已有帐号，立即登录", new_account_session_path + "?role=student"
          = submit_tag "注册", class: "btn btn-primary"
