- content_for :head do
  = javascript_include_tag "pages/user/notes-bundle"
  = stylesheet_link_tag "pages/user/notes-bundle", :media => "all"

.container
  .lib-content
    - if @questions.blank?
      %span 没有找到错题
    - else
      - @questions.each do |q|
        - next if q.nil?
        .question-div
          .question-content-div
            .question-content
              %p= q.content
            .question-items
              - q.items.each_with_index do |item, index|
                %p
                  %label= d2c(index) + ". "
                  %span= item
          .question-operation-div
            %ul
              %li
                = link_to user_note_path(q), method: "delete", confirm: "确定删除？" do
                  %em.glyphicon.glyphicon-trash
          .clear-both

  = link_to "练习错题", { controller: "user/questions", action: "exercise", type: "note" }, :method => "get", :class => 'btn btn-primary btn-lg' 
