- content_for :head do
  = stylesheet_link_tag "pages/teacher/students/show-bundle", :media => "all"
  = javascript_include_tag "pages/teacher/students/show-bundle"
  :javascript
    window.student_id = "#{@student.id.to_s}"

- content_for :teacher_content do
  #content-background
    #paper-top
    #paper
      %p#student-summary
        %span#student-name= @student.name + " 的错题本"
        - if @notes.length == 0
          %span#note-summary= "没有收录#{@subject}题"
        - else
          %span#note-summary= "当前共收录了#{@notes.length}道#{@subject}题"
      #note-stat
        #tag-stat
        #topic-stat
      #note-list
        - @notes.each do |q|
          .note-div
            .question-content-div
              .question-content
                = render :partial => "partials/question_content", locals: { content: q.content }
              - if q.type == "choice"
                .question-items{data: {"question-answer" => q.answer}}
                  - if q.item_len < 8
                    %table.line4
                      %tr
                        - q.items.each_with_index do |item, index|
                          %td
                            %label= d2c(index) + ". "
                            %span.item-content= item.render_question.html_safe
                  - elsif q.item_len < 16
                    %table.line2
                      %tr
                        - q.items[0..1].each_with_index do |item, index|
                          %td
                            %label= d2c(index) + ". "
                            %span.item-content= item.render_question.html_safe
                      %tr
                        - q.items[2..3].each_with_index do |item, index|
                          %td
                            %label= d2c(index + 2) + ". "
                            %span.item-content= item.render_question.html_safe
                  - else
                    %table.line1
                      - q.items.each_with_index do |item, index|
                        %tr
                          %td
                            %label= d2c(index) + ". "
                            %span.item-content= item.render_question.html_safe
            .student-note-div
              .tag-topic-div
                .tag-div
                  %span.note-title= "标签: "
                  %span= q.tag
                .topic-div
                  %span.note-title= "知识点: "
                  %span= q.topic_str
              .summary-div
                %p
                  %span.note-title= "总结笔记: "
                  = q.summary
    #paper-bottom

