- content_for :head do
  = javascript_include_tag "pages/admin/clients-bundle"
  = stylesheet_link_tag "pages/admin/clients-bundle", :media => "all"
  :javascript
    window.client_id="#{@client.id.to_s}"


.client-show-wrapper
  = link_to "返回机构列表", admin_clients_path, class: "btn btn-primary"
  .client-info
    .left-part
      %p.name= "姓名：" + @client.name
      %p.email= "邮箱：" + @client.email
      %p.mobile= "手机：" + @client.mobile
    .right-part
      %p.client-name= "机构名称：" + @client.client_name
      %p.city= "城市：" + @client.city

  - if @client.client_courses.blank?
    %h4 未开通任何课程
  - else
    %h4 已开通课程：
    .table-responsive
      %table.table.table-striped
        %tr
          %th.col-md-1= "类型"
          %th.col-md-3= "名称"
          %th.col-md-3= "操作"
        - @client.client_courses.each do |c|
          %tr{data: {id: c.id.to_s}}
            %td
              %span= c.type_text
            %td
              %a.course-name{href: admin_lessons_path + "?course_id=#{c.id.to_s}"}= c.name
            %td
              = link_to "删除", close_course_admin_client_path(@client) + "?course_id=#{c.id.to_s}", :method => "delete", :class => 'btn btn-danger btn-xs', :data => {:confirm => '确定删除？'}
  %h4 开通新课程

  = form_tag(open_course_admin_client_path(@client), method: "post", multipart: true) do
    .form-group
      = select_tag "course_id", options_for_select(Course.courses_for_select(true), -1), class: "form-control"
    .clear-both
    = submit_tag "开通", :class => 'btn-primary btn'
