- content_for :app_head do
  = javascript_include_tag "pages/weixin/exercises/show-bundle"
  = stylesheet_link_tag "pages/weixin/exercises/show-bundle", :media => "all"

.header
  %h4.course-name-tip= @local_course.name
  %span.info= lesson_helper(@index) + @lesson.name.my_trim(6)
  .paginator-part
    = link_to_if @question_index > 0, "<<", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=0"
    = link_to_if @question_index > 0, "上一题", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=" + (@question_index - 1).to_s
    %span= "#{@question_index + 1}/#{@question_number}"
    = link_to_if @question_index < @question_number - 1, "下一题", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=" + (@question_index + 1).to_s
    = link_to_if @question_index < @question_number - 1, ">>", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=#{@question_number - 1}"
  .clear-both

.question-content-div.content-block
  .question-content
    = render :partial => "partials/question_content", locals: { content: @question.content, image_path: @question.image_path }
  - if @question.type == "choice"
    .question-items{data: {"question-answer" => @question.answer}}
      %ul.answer-item-ul
        - @question.items.each_with_index do |item, index|
          %li
            %a{class: d2c(index) + "-link", href: "javascript:void(0);"}
              %i.icon{class: d2c(index)}
            %span.item-content= item.render_question(@question.image_path).html_safe

.standard-answer.content-block
  %p= "标准答案：" + ( @question.answer.present? ? d2c(@question.answer) : "" )
  .question-answer-content
    = render :partial => "partials/question_content", locals: { content: @question.answer_content, image_path: @question.image_path }

.student-answer.content-block
  %p= "#{@current_user.name}的答案：" + ( @answer_content["answer_index"].present? ? d2c(@answer_content["answer_index"].to_i) : "" )
  - if @answer_content["answer_content_img_id"].present?
    .image-wrapper
      %img{src: WeixinMedia.image_folder + @answer_content["answer_content_img_id"]}

- if @answer_content["comment"].present? || @answer_content["coach_comment_img_id"].present?
  .coach-comment.content-block
    %p= "教师批注："
    - if @answer_content["comment"].present?
      %p= @answer_content["comment"]
    - if @answer_content["coach_comment_img_id"].present?
      .image-wrapper
        %img{src: WeixinMedia.image_folder + @answer_content["coach_comment_img_id"]}
