- content_for :app_head do
  = javascript_include_tag "pages/weixin/users/bind_info-bundle"
  = stylesheet_link_tag "pages/weixin/users/bind_info-bundle", :media => "all"

/ show the bind info and allow the user to unbind
.info
  %span 微信昵称：
  %span= @weixin_bind.nickname
  %br
  %span 学员姓名及学员号：
  %span= @current_user.name + "(#{@current_user.student_number})"
  = link_to "我的课程页", weixin_courses_path
  = form_tag(unbind_weixin_user_path(@weixin_bind), id: "bind-weixin-form", method: "post", multipart: true) do
    %fieldset
      .content
      = submit_tag "解除绑定", class: "btn btn-primary unbind-btn"

