- content_for :app_head do
  = javascript_include_tag "pages/weixin/users/show-bundle"
  = stylesheet_link_tag "pages/weixin/users/show-bundle", :media => "all"


- if @current_user.nil?
  / the open id is wrong, ask the user to quit
  .info
    %span 授权已过期，请点击
    = link_to "这里", "javascript:void(0);", { class: "close-page" }
    %span 关闭页面重新进入
- else
  / show the bind info and allow the user to unbind
  .info
    %span 微信昵称：
    %span= @weixin_bind.nickname
    %br
    %span 学员姓名及学员号：
    %span= @student.name + "(#{@student.student_number})"
    = link_to "我的课程页", weixin_courses_path
    = form_tag(unbind_weixin_user_path, id: "bind-weixin-form", method: "post", multipart: true) do
      %fieldset
        .form-group.hide
          = text_field_tag :weixin_bind_id, @weixin_bind.id.to_s, :autofocus => true, class: "form-control"
        .content
        = submit_tag "解除绑定", class: "btn btn-primary unbind-btn"

