- content_for :head do
  = javascript_include_tag "pages/admin/local_courses-bundle"
  = stylesheet_link_tag "pages/admin/local_courses-bundle", :media => "all"
  :javascript

.container
  .lib-content
    .top-wrapper
      .paginator-wrapper
        = paginator_mini @local_courses
      .selector-wrapper
        = label_tag :course_subject, "科目"
        = select_tag "course[subject]", options_for_select(Subject::CODE_WITH_ALL, params[:subject] || 0), class: "form-control"
        = label_tag :course_type, "类型"
        = select_tag "course[type]", options_for_select(Course.type_for_select_with_all, params[:type] || 0), class: "form-control"
        = link_to "筛选", "javascript:void(0);", class: "btn btn-primary btn-filter"
    - if @local_courses["data"].blank?
      %h4
        没有符合条件的本地课程
    - else
      .table-responsive
        %table.table.table-striped
          %tr
            %th.col-md-2= "原课程"
            %th.col-md-1= "班号"
            %th.col-md-1= "课时"
            %th.col-md-1= "辅导老师"
            %th.col-md-1= "上课城市"
            %th.col-md-2= "上课地点"
            %th.col-md-3= "上课时间描述"
            %th.col-md-1 操作
          - @local_courses["data"].each do |e|
            %tr{data: {id: e.id.to_s}}
              %td= e.name
              %td= e.number
              %td= e.course.suggestion
              %td= e.coach.try(:name)
              %td= e.city
              %td= e.location
              %td= e.time_desc
              %td
                = link_to "删除", { controller: "admin/local_courses", action: "destroy", id: e._id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
                = link_to "编辑", edit_admin_local_course_path(e), :class => 'btn btn-primary btn-xs edit-coach'
    %a.btn.btn-new.btn-primary{ href: new_admin_local_course_path } 创建本地课程
