- content_for :head do
  = javascript_include_tag "pages/admin/local_courses-bundle"
  = stylesheet_link_tag "pages/admin/local_courses-bundle", :media => "all"
  :javascript

.form-wrapper
  = form_tag(@new ? admin_local_courses_path : admin_local_course_path(@local_course), method: @new ? "post" : "put", multipart: true) do
    .form-group
      = label_tag :course_id, "原课程"
      = select_tag "local_course[course_id]", options_for_select(Course.courses_for_select, @local_course.course.try(:id).to_s), class: "form-control"
    .form-group
      = label_tag :coach_id, "辅导老师"
      = select_tag "local_course[coach_id]", options_for_select(User.coaches_for_select, @local_course.coach.try(:id).to_s), class: "form-control"
    .form-group
      = label_tag :city, "上课城市"
      = text_field_tag "local_course[city]", @local_course.city, autofocus: false, class: "form-control"
    .form-group
      = label_tag :location, "上课地点"
      = text_area_tag "local_course[location]", @local_course.location, autofocus: false, class: "form-control"
    .form-group
      = label_tag :time_desc, "上课时间描述"
      = text_area_tag "local_course[time_desc]", @local_course.time_desc, autofocus: false, class: "form-control"
    .form-group
      = label_tag :time_ary, "具体上课时间"
      = text_area_tag "local_course[time_ary]", @local_course.time_ary_text, autofocus: false, class: "form-control"
    = submit_tag @new ? "创建" : "更新", :class => 'btn-primary btn'
