- content_for :app_head do
  = javascript_include_tag "pages/coach/reports-bundle"
  = stylesheet_link_tag "pages/coach/reports-bundle", :media => "all"
  :javascript

%h4.course-name-tip= @local_course.name + " 学情报告"

.content-wrapper

.save-wrapper
  %a.btn.btn-primary.new-paragraph{href: "javascript:void(0);"} 新文本段落
  %a.btn.btn-primary.new-image{href: "javascript:void(0);"} 拍照或选取照片
  = link_to "保存", "javascript:void(0)", { class: "save-btn btn btn-warning" }
  = link_to "提交", "javascript:void(0)", { class: "submit-btn btn btn-danger" }

#voiceInput.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .jesse-notification
          %span
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3 采集语音输入
      .modal-body
        .checkbox
          = label_tag :replace_current do
            = check_box_tag :replace_current, 1, false
            替换原有内容
        %span.record-tip.hide 正在录音
      .modal-footer
        %a#start-btn.btn.btn-primary{href: "javascript:void(0);", "aria-hidden" => "true"} 开始
        %a#stop-btn.btn.btn-primary{href: "javascript:void(0);", "aria-hidden" => "true", disabled: true} 结束
