- content_for :head do
  = stylesheet_link_tag "pages/teacher/nodes/index-bundle", :media => "all"
  = javascript_include_tag "pages/teacher/nodes/index-bundle"
  :javascript
    window.folder_id = "#{@folder_id}"
    window.root_folder_id = "#{@root_folder_id}"
    window.type = "#{@type}"
    window.keyword = "#{params[:keyword]}"

- content_for :teacher_content do
  #homework-index
    #search-bar
      #folder-wrapper{ data: { step: "3", intro: "文件夹导航栏，试试点击文件夹名直接导航 :-)"} }
      #search-box{ data: { step: "5", intro: "文件及文件夹搜索框。"} }
        %input#input-search{:placeholder => "文件夹或文档名称", :type => "text", :value => params[:keyword]}
          %a#link-search{href: "javascript:void(0);"}
    .clear-both
    #main-part
      #left-part
        #new-button
          %a#create-new-link{ data: { step: "1", intro: "在当前文件夹下创建新文件夹或者作业。"} }
          #create-dropdown-list.hide.ef-dropdown-menu
            .ef-dropdown-item.create-folder-link
              %a#create-folder-link 新建文件夹
            / .ef-dropdown-item
            /  %a#upload-slides-link 上传课件
            .ef-dropdown-item.upload-doc-link
              %a#upload-doc-link 上传作业
            .ef-dropdown-item.new-homework-link
              %a#new-homework-link 新建作业
        %ul
          %li
            .folder-node#root-folder{ data: { step: "2", intro: "管理我的文件夹，试试鼠标右键操作 :-)"} }
              .name-node.root
                %span.caret-wrapper
                  %b.open
                %i.icon.folder-open
                %span.name 我的文件夹
              .children.hide
          %li
            .folder-node.all_homeworks
              .name-node.root{:class => ("selected" if @type == "all_homeworks")}
                %i.icon.word
                %span 全部作业
          %li
            .folder-node.all_shares
              .name-node.root{:class => ("selected" if @type == "all_shares")}
                %i.icon.share
                %span 与我共享
          / %li
          /   .folder-node.all_slides
          /     .name-node.root{:class => ("selected" if @type == "all_slides")}
          /       %i.icon.ppt
          /       %span 全部课件
          %li
            .folder-node.recent
              .name-node.root{:class => ("selected" if @type == "recent")}
                %i.icon.recent
                %span 最近使用
          %li
            .folder-node.workbook
              .name-node.root{:class => ("selected" if @type == "workbook")}
                %b
                %i.icon.workbook
                %span 练习册
          %li
            .folder-node.starred
              .name-node.root{:class => ("selected" if @type == "starred")}
                %i.icon.starred
                %span 已加星标
          %li
            .folder-node.trash
              .name-node.root{:class => ("selected" if @type == "trash")}
                %i.icon.trash
                %span 已删除
      #right-part
        #table-wrapper{ data: { step: "4", intro: "当前文件夹下的内容列表。"} }

  #newFolderModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 新建文件夹
        .modal-body
          %p
            %span 请输入新文件夹的名称
          %p
            %input.target.form-control{type: "text", value: "新文件夹"}/
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #renameModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 重命名
        .modal-body
          %p
            %span 请为其输入新名称
          %p
            %input.target.form-control{type: "text", value: ""}/
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #newHomeworkModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 新建作业
        .modal-body
          %p
            = label_tag :subject, "学科"
            = select_tag :subject, options_for_select(Subject::CODE, current_user.subject), class: "form-control"
          %p
            = label_tag :name, "请为新作业输入名称"
          %p
            %input.folder-id.hide{type: "text", value: ""}/
            %input.target.form-control{type: "text", value: ""}/
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #moveModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 移动
        .modal-body
          %p
            %span 将
            %span.bold.target-name
            %span 移至
          #move-folder-parent
            .folder-node.root#move-folder
              .name-node.root
                %span.caret-wrapper
                  %b.open
                %i.icon.folder-open
                %span.name 我的文件夹
              .children.hide
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #uploadHomeworkModal.modal.fade
    .modal-dialog
      .modal-content
        = form_tag(teacher_homeworks_path, method: "post", multipart: true) do
          .modal-header
            %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
            %h3 创建新作业
          .modal-body
            .form-group.hide
              = text_field_tag :folder_id, ""
            .form-group
              = label_tag :subject, "学科"
              = select_tag :subject, options_for_select(Subject::CODE, current_user.subject), class: "form-control"
            .form-group
              = file_field_tag "homework_file", { class: "hide", accept: ".docx,.doc" }
              = label_tag :file, "上传作业文件"
              %a#browser-homework-click{href: "javascript:void(0);"}
              %a{href: "/teacher/help/homework_manage#upload-word-standard", target: "_blank"} 查看格式要求
              %p#homework-name
          .modal-footer
            = submit_tag "创建", :class => 'btn-primary btn'
            %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #uploadSlideModal.modal.fade
    .modal-dialog
      .modal-content
        = form_tag(teacher_slides_path, method: "post", multipart: true) do
          .modal-header
            %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
            %h3 创建新课件
          .modal-body
            .form-group.hide
              = text_field_tag :folder_id, ""
            .form-group
              = select_tag :subject, options_for_select(Subject::CODE, current_user.subject), class: "form-control"
            .form-group
              = file_field_tag "slide_file", { class: "hide", accept: ".pptx,.ppt" }
              = label_tag :file, "上传课件文件"
              %a#browser-slide-click{href: "javascript:void(0);"}
              %p#slide-name
          .modal-footer
            = submit_tag "创建", :class => 'btn-primary btn'
            %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #recoverModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 还原
        .modal-body
          .p 该项目位于回收站中，必须首先还原才能查看，是否还原？
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 还原
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #shareModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 共享
        .modal-body
          - if current_user.school.present?
            %p
              %span 将
              %span.bold.target-name
              %span 共享给
              %span= current_user.school.try(:name)
              %span 的同事
            #sharer-list
              %ul.sharer-list
            %span 新增共享对象
            %input#share-input{:placeholder => "输入姓名或邮箱地址并从下拉列表中选择", :type => "text"}
          - else
            %p 共享机制只适用于同一学校或者机构内的教师，您的帐号未加入任何学校或者机构。
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          - if current_user.school.present?
            %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
