- content_for :head do
  = javascript_include_tag "pages/admin/students-bundle"
  = stylesheet_link_tag "pages/admin/students-bundle", :media => "all"
  :javascript

.form-wrapper
  = form_tag(@new ? admin_students_path : admin_student_path(@student), method: @new ? "post" : "put", multipart: true) do
    .left-part
      .form-group
        = label_tag :name, "姓名"
        = text_field_tag "student[name]", @student.name, autofocus: true, class: "form-control"
      .form-group
        = label_tag :email, "邮箱"
        = text_field_tag "student[email]", @student.email, autofocus: false, class: "form-control"
      .form-group
        = label_tag :phase, "学段"
        = select_tag "student[phase]", options_for_select(User.phase_for_select, @student.phase), class: "form-control"
      .form-group
        = label_tag :city, "城市"
        = text_field_tag "student[city]", @student.city, autofocus: false, class: "form-control"
    .right-part
      .form-group
        = label_tag :student_number, "学号"
        = text_field_tag "student[student_number]", @student.student_number, autofocus: true, class: "form-control"
      .form-group
        = label_tag :mobile, "手机"
        = text_field_tag "student[mobile]", @student.mobile, autofocus: false, class: "form-control"
      .form-group
        = label_tag :entrance_year, "入学年份"
        = select_tag "student[entrance_year]", options_for_select(User.entrance_year_for_select, @student.entrance_year), class: "form-control"
      .form-group
        = label_tag :school_name, "学校"
        = text_field_tag "student[school_name]", @student.school_name, autofocus: false, class: "form-control"
    = link_to "返回学生列表", { controller: "admin/students", action: "index"}, class: "btn btn-default"
    = submit_tag @new ? "创建" : "更新", :class => 'btn-primary btn'
