- content_for :head do
  = javascript_include_tag "pages/admin/students-bundle"
  = stylesheet_link_tag "pages/admin/students-bundle", :media => "all"
  :javascript
    window.student_id="#{@student.id.to_s}"


.student-show-wrapper
  = link_to "返回学生列表", { controller: "admin/students", action: "index"}, class: "btn btn-primary"
  .student-info
    .left-part
      %p.name= "姓名：" + @student.name
      %p.email= "邮箱：" + @student.email
      %p.mobile= "手机：" + @student.mobile
      %p.parent-name= "家长姓名：" + @student.parent_name
      %p.parent-name= "家长电话：" + @student.parent_mobile
    .right-part
      %p.city= "城市：" + @student.city
      %p.school_name= "学校：" + @student.school_name
      %p.phase= "学段：" + User.phase_text(@student.phase)
      %p.entrance_year= "入学年份：" + User.entrance_year_text(@student.entrance_year)

  - if @student.student_courses.blank?
    %h4 未报名任何课程
  - else
    %h4 已报名课程：
    .table-responsive
      %table.table.table-striped
        %tr
          %th.col-md-1= "类型"
          %th.col-md-3= "名称"
        - @student.student_courses.each do |c|
          %tr{data: {id: c.id.to_s}}
            %td
              %span= c.type_text
            %td
              %a.course-name{href: admin_lessons_path + "?course_id=#{c.id.to_s}"}= c.name
