- content_for :head do
  = javascript_include_tag "pages/admin/courses-bundle"
  = stylesheet_link_tag "pages/admin/courses-bundle", :media => "all"
  :javascript

.container
  - if @course.blank?
    %h3 所有课程的内容
  - else
    %h3= @course.name_with_teacher + " 的各讲内容"
  .lib-content
    - if @lessons.blank?
      %h4
        没有内容
    - else
      %table#course-table.table.table-striped
        %tr
          / %th.col-md-1= "课程"
          / %th.col-md-1= "科目"
          %th.col-md-1= "名称"
          %th.col-md-1= "序号"
          %th.col-md-1= "练习"
          %th.col-md-1 操作
        - @lessons.each do |l|
          %tr{data: {id: l.id.to_s, index: (l.course.lesson_id_ary.index(l.id.to_s) + 1).to_s, homeworkid: l.homework.try(:id).to_s}}
            %td.name-td= l.name
            %td.order-td= l.order
            %td.homework-td
              %a{href: l.homework.present? ? teacher_homework_path(l.homework) : "javascript:void(0);", target: "_blank"}= l.homework.try(:name).to_s
            %td
              = link_to "删除", { controller: "admin/lessons", action: "destroy", id: l._id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
              = link_to "编辑", "javascript:void(0);", :class => 'btn btn-primary btn-xs edit-lesson'
              = link_to "视频", { controller: "admin/videos", action: "index", lesson_id: l._id.to_s }, :class => 'btn btn-primary btn-xs'
    %button.btn.btn-primary.btn-new{data: {toggle: "modal", target: "#newLesson"} } 创建新一讲

#newLesson.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_lessons_path, method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新内容
        .modal-body
          .form-group.hide
            = label_tag :course_id, "绑定课程"
            = select_tag "lesson[course_id]", options_for_select(Course.courses_for_select, @course.blank? ? -1 : @course.id.to_s), class: "form-control"
          .form-group
            = label_tag :name, "名称"
            = text_field_tag "lesson[name]", "", autofocus: true, class: "form-control"
          .form-group
            = label_tag :order, "序号（从1开始）"
            = text_field_tag "lesson[order]", "", autofocus: false, class: "form-control"
          .form-group
            = label_tag :homework_id, "绑定练习"
            = select_tag "lesson[homework_id]", options_for_select(Homework.homeworks_for_select), class: "form-control"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'

#editLesson.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_lessons_path, method: "put", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 编辑内容
        .modal-body
          .form-group.hide
            = label_tag :course_id, "绑定课程"
            = select_tag "lesson[course_id]", options_for_select(Course.courses_for_select, @course.blank? ? -1 : @course.id.to_s), class: "form-control"
          .form-group
            = label_tag :name, "名称"
            = text_field_tag "lesson[name]", "", autofocus: true, class: "form-control"
          .form-group
            = label_tag :order, "序号（从1开始）"
            = text_field_tag "lesson[order]", "", autofocus: false, class: "form-control"
          .form-group
            = label_tag :homework_id, "绑定练习"
            = select_tag "lesson[homework_id]", options_for_select(Homework.homeworks_for_select), class: "form-control"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "更新", :class => 'btn-primary btn'