- content_for :head do
  = javascript_include_tag "pages/user/papers-bundle"
  = stylesheet_link_tag "pages/user/papers-bundle", :media => "all"

.container
  .sub-banner
    .wrap
      %h2= truncate_u(@paper.name, 10)
      .title-edit.hide
        %input.form-control{type: "text", value: @paper.name}/
        %button.btn.btn-default.btn-sm.title-ok{data: {"paper-id" => @paper.id.to_s}} 确 定
        %button.btn.btn-default.btn-sm.title-cancel 取 消
      %ul
        %li.tooltips{title: "存档试卷列表", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to user_papers_path do
            %em.glyphicon.glyphicon-list
        %li.tooltips{title: "存档", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to archive_user_paper_path(@paper) do
            %em.glyphicon.glyphicon-cloud-download
        %li.tooltips{title: "导出", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to print_user_paper_path(@paper) do
            %em.glyphicon.glyphicon-save
        %li.tooltips{title: "导出并发送到邮箱", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to email_user_paper_path(@paper) do
            %em.glyphicon.glyphicon-paperclip
        %li.tooltips{title: "清空", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to user_paper_path(@paper), method: "delete", confirm: "确定清空？" do
            %em.glyphicon.glyphicon-trash
  .lib-content
    - if @questions.blank?
      %span 试卷为空
    - else
      - @questions.each do |q|
        - next if q.nil?
        .question-div
          .question-content-div
            .question-content
              %p= q.content
            .question-items
              - q.items.each_with_index do |item, index|
                %p
                  %label= d2c(index) + ". "
                  %span= item
          .question-operation-div
            %ul
              %li
                = link_to user_note_path(q), method: "delete", confirm: "确定删除？" do
                  %em.glyphicon.glyphicon-trash
          .clear-both
