<table>
  <tr>
    <th>标题</th>
    <th>年份</th>
    <th>省份</th>
    <th>类型</th>
  </tr>
  {{#each data}}
    <tr>
      <td>
        <a href="/teacher/papers/{{_id}}" target=_blank>{{name}}</a>
      </td>
      <td>
        {{year}}年
      </td>
      <td>
        {{province}}
      </td>
      <td>
        {{paper_type}}
      </td>
    </tr>
  {{/each}}
</table>
