<table class=paper-table>
  <tr>
    <th class=paper-title>标题</th>
    <th class=paper-year>年份</th>
    <th class=paper-province>省份</th>
    <th class=paper-type>类型</th>
  </tr>
  {{#each data}}
    <tr>
      <td>
        <a href="/teacher/papers/{{_id}}" target=_blank>{{name}}</a>
      </td>
      <td>
        {{year}}年
      </td>
      <td>
        {{province}}
      </td>
      <td>
        {{paper_type}}
      </td>
    </tr>
  {{/each}}
</table>
