#sign.modal.fade
  .modal-dialog
    .modal-content
      #sign-notification.jesse-notification
        %span
      .modal-body
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#sign-in-body", data: {toggle: "tab"}} 登录
          %li
            %a{href: "#sign-up-body", data: {toggle: "tab"}} 注册
        .tab-content
          #sign-in-body.tab-pane.fade.active.in
            #signin_user
              %fieldset
                .form-group
                  = label_tag :email_mobile, "邮箱"
                  = text_field_tag :email_mobile, "", class: "form-control"
                .form-group
                  = label_tag :password, "密码"
                  = password_field_tag :password, "", class: "form-control"
                .checkbox
                  = label_tag :remember_me do
                    = check_box_tag :remember_me
                    保持登录状态
              .modal-footer
                %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
                %a#signin-btn.btn.btn-primary{href: "#", "aria-hidden" => "true"} 登录
          #sign-up-body.tab-pane.fade
            #signup_user
              %fieldset
                .form-group
                  = label_tag :email_mobile, "邮箱"
                  = text_field_tag :email_mobile, "", class: "form-control"
                .form-group
                  = label_tag :password, "密码"
                  = text_field_tag :password, "", class: "form-control"
                .form-group
                  = label_tag :name, "姓名"
                  = text_field_tag :name, "", class: "form-control"
              .modal-footer
                %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
                %a#signup-btn.btn.btn-primary{href: "#", "aria-hidden" => "true"} 注册
