#sign.modal.fade
  .modal-dialog
    .modal-content
      #sign-notification.jesse-notification
        %span
      .modal-body
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#sign-in-body", data: {toggle: "tab"}} 登录
          %li
            %a{href: "#sign-up-body", data: {toggle: "tab"}} 注册
        .tab-content
          #sign-in-body.tab-pane.fade.active.in
            = form_for(resource, :as => resource_name,
                                :url => session_path(resource_name),
                                :html => {:id => "sign_in_user"},
                                :format => :json,
                                :remote => true ) do |f|
              %fieldset
                .form-group
                  = f.label :email, "邮箱"
                  = f.email_field :email, class: "form-control"
                .form-group
                  = f.label :password, "密码"
                  = f.password_field :password, class: "form-control"
                - if devise_mapping.rememberable?
                  .checkbox
                    = f.label :remember_me do
                      = f.check_box :remember_me
                      保持登录状态
              .modal-footer
                %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
                = f.submit "登录", class: 'btn btn-primary'
          #sign-up-body.tab-pane.fade
            = form_for(resource, :as => resource_name,
                       :url => registration_path(resource_name),
                       :html => {:id => "sign_up_user"},
                       :format => :json,
                       :remote => true ) do |f|
              %fieldset
                .form-group
                  = f.label :email, "邮箱"
                  = f.email_field :email, class: "form-control"
                .form-group
                  = f.label :password, "密码"
                  = f.password_field :password, class: "form-control"
                .form-group
                  = f.label :password, "确认密码"
                  = f.password_field :password_confirmation, class: "form-control"
              .modal-footer
                %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
                = f.submit "注册", class: 'btn btn-primary'
