- content_for :app_head do
  = javascript_include_tag "pages/coach/users/bind_info-bundle"
  = stylesheet_link_tag "pages/coach/users/bind_info-bundle", :media => "all"

.info
  = form_tag(change_password_coach_users_path, method: "post", multipart: true, class: "password-form") do
    %fieldset
      .form-group
        = password_field_tag "cur_password", "", :autofocus => true, :placeholder => "当前密码", class: "form-control"
      .form-group
        = password_field_tag "new_password", "", :autofocus => true, :placeholder => "新密码", class: "form-control"
      .form-group
        = password_field_tag "new_password_confirm", "", :autofocus => true, :placeholder => "新密码确认", class: "form-control"
      .content
      = submit_tag "修改密码", class: "btn btn-warning password-btn form-control"

#footer-prev
#footer
  %table
    %tr
      %td.record-td
        = link_to "帐号绑定", bind_info_coach_users_path + "?prev_link=" + @return_path, { class: "bottom-nav" }
      %td.exercise-td
        %span.bottom-nav= "修改密码"
