- content_for :app_head do
  = javascript_include_tag "pages/coach/users/pre_bind-bundle"
  = stylesheet_link_tag "pages/coach/users/pre_bind-bundle", :media => "all"

- content_for :app_content do
  .wrapper
    %p 请输入员工号和密码完成和微信帐号的绑定
    = form_tag(bind_coach_users_path, id: "bind-weixin-form", method: "post", multipart: true) do
      %fieldset
        .form-group
          = text_field_tag :coach_number, "", :autofocus => true, :placeholder => "易飞学堂员工号", class: "form-control"
        .form-group
          = password_field_tag :coach_password, "", :autofocus => true, :placeholder => "易飞学堂员工密码", class: "form-control"
        .content
        = submit_tag "绑定", class: "btn btn-primary bind-btn form-control"
