- content_for :app_head do
  = javascript_include_tag "pages/coach/users/pre_bind-bundle"
  = stylesheet_link_tag "pages/coach/users/pre_bind-bundle", :media => "all"

- content_for :app_content do
  .wrapper
    %p 请输入机构名称，教师工号和密码完成和微信帐号的绑定
    = form_tag(bind_coach_users_path, id: "bind-weixin-form", method: "post", multipart: true) do
      %fieldset
        .form-group
          = text_field_tag :coach_client_name, "", :autofocus => true, :placeholder => "机构名称", class: "form-control"
        .form-group
          = text_field_tag :coach_number, "", :autofocus => true, :placeholder => "教师工号", class: "form-control"
        .form-group
          = password_field_tag :coach_password, "", :autofocus => true, :placeholder => "教师密码", class: "form-control"
        .content
        = submit_tag "绑定", class: "btn btn-primary bind-btn form-control"
    %p 也可以扫描二维码与微信帐号绑定
    = link_to "开始扫描", "javascript:void(0);", class: "btn btn-primary bind-btn form-control"
