- content_for :app_head do
  = javascript_include_tag "pages/client/users/bind_info-bundle"
  = stylesheet_link_tag "pages/client/users/bind_info-bundle", :media => "all"

/ show the bind info and allow the user to unbind
.info
  %p
    %span= "您的微信（#{@weixin_bind.nickname}）已与机构（#{@current_user.client_name}）绑定。"
  = link_to "首页", main_page_client_users_path, { class: "btn btn-primary form-control" }
  = form_tag(unbind_client_user_path(@weixin_bind), id: "bind-weixin-form", method: "post", multipart: true) do
    %fieldset
      = submit_tag "解除绑定", class: "btn btn-danger btn-primary unbind-btn form-control"


#footer-prev
#footer
  %table
    %tr
      %td.record-td
        %span.bottom-nav= "帐号绑定"
      %td.exercise-td
        =link_to "修改密码", password_client_users_path + "?prev_link=" + @return_path, { class: "bottom-nav" }
