.container
  .row
    .col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
      = form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
        = devise_error_messages!
        %fieldset
          %legend 忘记密码
          .form-group
            = f.label :email, "邮箱"
            = f.email_field :email, :autofocus => true, class: "form-control"
          = f.submit "发送邮件", class: "btn btn-default"
