- content_for :head do
  = javascript_include_tag "pages/user/questions/exercise-bundle"
  = stylesheet_link_tag "pages/user/questions-bundle", :media => "all"

.container
  .lib-content
    #notification-div
      %p.hide.warning 有3道题未回答，请回答完毕后再提交
      %p
        %span.correct-stats
        \
        %span.incorrect-stats
    - if @questions.blank?
      %span 没有找到练习题
    - else
      - @questions.each do |q|
        - next if q.nil?
        .question-div{id: "#{q.id.to_s}-div", data: {"question-id" => q.id.to_s}}
          .question-content-div
            .question-content
              %p= q.content
            .question-items
              - q.items.each_with_index do |item, index|
                %p
                  %input{id: "#{q.id.to_s}-#{index}", name: "#{q.id.to_s}-item-select", type: "radio", value: "#{index}"}/
                  %label{for: "#{q.id.to_s}-#{index}"}= d2c(index) + ". "
                  %span= item
          .question-answer-div
            .correct.hide
              %span 正确
            .incorrect.hide
              %span 错误
              %br
              %span 正确答案：
              %span.correct-answer-span A
            .warning.hide
              %span 未作答
            .append-note.hide{data: {"question-id" => q.id.to_s}}
              = link_to "加入错题本", "#", :method => "get"
          .clear-both
      %a#submit_answer.btn.btn-primary.btn-lg{href: "#", "aria-hidden" => "true"} 提交

= render "partials/sign_modal"
