- content_for :head do
  = javascript_include_tag "pages/user/questions-bundle"
  = stylesheet_link_tag "pages/user/questions-bundle", :media => "all"

.container
  .lib-content
    #current-question-div
      .question-div
        .question-content-div
          .question-content
            %p= @question.content
          .question-items
            - @question.items.each_with_index do |item, index|
              %p
                %label= d2c(index) + ". "
                %span= item
        .clear-both
    #similar-questions-div
    .page-operation-div
      - if @similar_questions_length > 0
        %a#check_questions.btn.btn-primary.btn-lg{href: "#", "aria-hidden" => "true", data: {"question-id" => @question.id.to_s}} 练习同组题
      - if current_user && current_user.has_question_in_note?(@question)
        %a#append_note.btn.btn-primary.btn-lg{href: "#", "aria-hidden" => "true", disabled: true, data: {"question-id" => @question.id.to_s}} 已加入错题本 
      -else
        %a#append_note.btn.btn-primary.btn-lg{href: "#", "aria-hidden" => "true", data: {"question-id" => @question.id.to_s}} 加入错题本
      .clear-both

= render "partials/sign_modal"