- content_for :app_head do
  = javascript_include_tag "pages/coach/students/exercise-bundle"
  = stylesheet_link_tag "pages/coach/students/exercise-bundle", :media => "all"

%p.course-name
  %span= @course.name
%p.lesson-name
  %span= @lesson.name

= render :partial => "partials/exercise", locals: { exercises: @exercises, answers: @answers, student: @student }

#footer-prev
#footer
  %table
    %tr
      %td.record-td
        =link_to "学习记录", report_coach_student_path(@student) + "?lesson_id=" + @lesson.id.to_s, { class: "bottom-nav" }
      %td.exercise-td
        %span.bottom-nav= "练习反馈"