- content_for :app_head do
  = javascript_include_tag "pages/coach/students/report-bundle"
  = stylesheet_link_tag "pages/coach/students/report-bundle", :media => "all"
  :javascript
    window.report_id="#{@report.try(:id).to_s}"
    window.lesson_id="#{@lesson.try(:id).to_s}"
    window.student_id="#{@student.try(:id).to_s}"

%p.course-name
  %span= @course.name
%p.lesson-name
  %span= @lesson.name


= render :partial => "partials/report", locals: { report: @report }

#footer-prev
#footer
  %table
    %tr
      %td.record-td
        %span.bottom-nav= "学习记录"
      %td.exercise-td
        =link_to "练习反馈", exercise_coach_student_path(@student) + "?lesson_id=" + @lesson.id.to_s, { class: "bottom-nav" }
