- content_for :head do
  :javascript

- content_for :teacher_content do
  %p= @paper.name
  %table
    %tr
      %th DANGEROUS
      %th LINK
      %th TYPE
      %th DIFFICULTY
      %th POINT
    - @paper.materials.each_with_index do |e, i|
      %tr
        - if e["type"] == "text"
          %td
          %td= e["content"]
        - else
          - m = Material.find(e["content"])
          %td
            - if m.dangerous
              %span.red YES
            - else
              %span NO
          %td
            = link_to "链接", "/teacher/materials/#{e['content']}"
          %td
            %span= m.type
          %td
            %span= m.difficulty
          %td
            %span= m.tags.map { |t| t[:text] } .join(',')

