- content_for :head do
  = javascript_include_tag "pages/teacher/papers/show-bundle"
  = stylesheet_link_tag "pages/teacher/papers/show-bundle", :media => "all"
  :javascript

- content_for :teacher_content do
  #title-bar
    #wrapper
      #title-wrapper
        %h2#title= truncate_u(@paper.name, 20)
  #paper-content
    - @questions.each do |q|
      .content-div{data: {"question-id" => q.id.to_s, "question-type" => q.type}}
        .question-info-div
          .question-report-wrapper.hide
            %a.report-bug{href: "javascript:void(0);"} 报错
          .question-info-wrapper
            %span= "题型：" + question_type_show(q.type)
            %span= "难度：" + difficulty_show(q.difficulty)
          .clear-both
        .question-content-div
          .question-content
            = render :partial => "partials/question_content", locals: { content: q.content, image_path: q.image_path }
          - if q.type == "choice"
            .question-items{data: {"question-answer" => q.answer}}
              - if q.item_len < 8
                %table.line4
                  %tr
                    - q.items.each_with_index do |item, index|
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
              - elsif q.item_len < 16
                %table.line2
                  %tr
                    - q.items[0..1].each_with_index do |item, index|
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
                  %tr
                    - q.items[2..3].each_with_index do |item, index|
                      %td
                        %label= d2c(index + 2) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
              - else
                %table.line1
                  - q.items.each_with_index do |item, index|
                    %tr
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
          - if q.answer_content.present? || q.answer.present?
            .question-answer
              %strong.answer-label 解答:
              - if q.answer.present?
                %span= d2c(q.answer)
            .question-answer-content
              = render :partial => "partials/question_content", locals: { content: q.answer_content, image_path: q.image_path }
        .compose-operation.hide
          %a.do-compose{href: "javascript:void(0);", data: {toggle: "tooltip"}, title: "选择试题"}
        .compose-status.hide
          %a.composed{href: "javascript:void(0);", data: {toggle: "tooltip"}, title: "取消选择"}
        .include-status.hide
          %a.included{href: "javascript:void(0);", data: {toggle: "tooltip"}, title: "作业中已有该题"}


  %p= @paper.name
  %table
    %tr
      %th DANGEROUS
      %th LINK
      %th TYPE
      %th DIFFICULTY
      %th POINT
    - @paper.materials.each_with_index do |e, i|
      %tr
        - if e["type"] == "text"
          %td
          %td= e["content"]
        - else
          - m = Material.find(e["content"])
          %td
            - if m.dangerous
              %span.red YES
            - else
              %span NO
          %td
            = link_to "链接", "/teacher/materials/#{e['content']}"
          %td
            %span= m.type
          %td
            %span= m.difficulty
          %td
            %span= m.tags.map { |t| t[:text] } .join(',')

