- content_for :app_head do
  = javascript_include_tag "pages/weixin/courses/index-bundle"
  = stylesheet_link_tag "pages/weixin/courses/index-bundle", :media => "all"

- if @local_courses.blank?
  %h4.course-name-tip= "没有符合条件的课程"

- @local_courses.each do |lc|
  .one-course-wrapper
    .one-course
      .left-part
        .upper
          .course-subject-wrapper
            %span.course-subject= Subject::NAME[lc.subject]
          %span.course-name= lc.name.my_trim(8)
        .lower
          %span.course-teacher= "授课：" + lc.teacher_name
          %span.course-coach= "教师：" + lc.coach_name
      .right-icon
        %a.right.slide-left-link{href: "javascript:void(0);"}
          %i.icon.slide-left
    .operation-div
      .left-icon
        %a.left.slide-right-link{href: "javascript:void(0);"}
          %i.icon.slide-right
      %table.operation-table
        %tr
          %td
            %a.exercise-link{href: exercise_weixin_course_path(lc)}
              %i.icon.exercise
              %span 练习反馈
              .clear-both
          %td
            %a.report-link{href: report_weixin_course_path(lc)}
              %i.icon.report
              %span 学情报告
              .clear-both
          %td
            %a.record-link{href: record_weixin_course_path(lc)}
              %i.icon.record
              %span 学习记录
              .clear-both
          %td
            %a.schedule-link{href: schedule_weixin_course_path(lc)}
              %i.icon.schedule
              %span 进度追踪
              .clear-both


#left-filter
  .filter-title
    %h1.title-content 我的课程
    %a.right.turnoff-link{href: "javascript:void(0);"}
      %i.icon.turnoff
  %ul
    %li
      = link_to "当前课程", weixin_courses_path + "?current=1&subject=#{@subject}"
    %li
      = link_to "以往课程", weixin_courses_path + "?current=0&subject=#{@subject}"
  .filter-title
    %h1.title-content 科目
  %ul
    - Subject::NAME_WITH_ALL.each do |code, name|
      %li
        = link_to name, weixin_courses_path + "?current=#{@current}&subject=#{code}"
