- content_for :app_head do
  = javascript_include_tag "pages/weixin/courses/report-bundle"
  = stylesheet_link_tag "pages/weixin/courses/report-bundle", :media => "all"

%h4.course-name-tip= @local_course.name

- if @reports.blank?
  .info= "教师还没有为#{@current_user.name}撰写学情报告"

%table
  - @reports.each do |r|
    %tr.one-report
      %td.left-part
        %span.month= r.month
        %br
        %span.day= r.day
      %td.middle-part
        .content-wrapper
          %p= r.content_in_short
        .info
          %span= r.info
      %td.right-part
        %a.right.slide-right-link{href: weixin_report_path(r)}
          %i.icon.slide-right
