- content_for :head do
  = javascript_include_tag "pages/teacher/questions/detail-bundle"
  = stylesheet_link_tag "pages/teacher/questions/detail-bundle", :media => "all"
  :javascript
    window.question_id = "#{@q.id.to_s}"

- content_for :teacher_content do
  #content-background
    #paper-top
    #paper
      - if @homework.present?
        #homework-title-wrapper
          %h3.homework-title
            %span 作业：
            = link_to @homework.name, teacher_homework_path(@homework)
          - if @q.homeworks.length > 1
            %a.switch-homework{href: "/teacher/questions/" + @q.id.to_s + "/detail"} 切换作业
      - else
        #homework-selector
          = select_tag "homework_id", options_for_select(@q.homeworks_for_select, -1), class: "form-control"
      .content-div{data: {"question-id" => @q.id.to_s, "question-type" => @q.type}}
        .question-content-div
          .question-content
            = render :partial => "partials/question_content", locals: { content: @q.content, image_path: @q.image_path }
          - if @q.type == "choice"
            .question-items{data: {"question-answer" => @q.answer}}
              - if @q.item_len < 8
                %table.line4
                  %tr
                    - @q.items.each_with_index do |item, index|
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(@q.image_path).html_safe
              - elsif @q.item_len < 16
                %table.line2
                  %tr
                    - @q.items[0..1].each_with_index do |item, index|
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(@q.image_path).html_safe
                  %tr
                    - @q.items[2..3].each_with_index do |item, index|
                      %td
                        %label= d2c(index + 2) + ". "
                        %span.item-content= item.render_question(@q.image_path).html_safe
              - else
                %table.line1
                  - @q.items.each_with_index do |item, index|
                    %tr
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(@q.image_path).html_safe
          - if @q.answer_content.present? || @q.answer.present?
            .question-answer
              %strong.answer-label 解答:
              - if @q.answer.present?
                %span= d2c(@q.answer)
            .question-answer-content
              = render :partial => "partials/question_content", locals: { content: @q.answer_content, image_path: @q.image_path }
      = form_tag("/teacher/questions/" + @q.id.to_s + "/update_video", method: "post", multipart: true, id: "upload-video-form") do
        .other-fields
          - if @homework.present?
            .form-group
              = label_tag :duration, "学生做题时间预期（分钟）"
              = text_field_tag "duration", @homework.q_durations[@q.id.to_s], class: "form-control"
            .form-group
              = label_tag :score, "分数"
              = text_field_tag "score", @homework.q_scores[@q.id.to_s], class: "form-control"
            .form-group
              = label_tag :knowledge, "知识点"
              = text_field_tag "knowledge", @homework.q_knowledges[@q.id.to_s], class: "form-control"
            .form-group.hide
              = text_field_tag "homework_id", @homework.id.to_s
          = submit_tag "确定", :class => 'btn-primary btn'
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
        .video-wrapper
          .video-title
            %span 讲解视频
            - if @q.video.try(:id).to_s != "" && @q.video.try(:video_url).to_s != ""
              %span (
              %a.video-detail-url{href: "/admin/videos/#{@q.video.id.to_s}?question_id=#{@q.id.to_s}", target: "_blank"} 详细
              %span )
          - if @q.video.try(:id).to_s != "" && @q.video.try(:video_url).to_s != ""
            %video{src: @q.video.try(:video_url), controls: "controls", id: "question-video"} 您的浏览器不支持 video 标签。
          .form-group
            = label_tag :video_content, "上传视频文件（mp4格式）"
            = file_field_tag "video_content"
          .snapshot-image-title
            %span 讲解截图
          - if @q.snapshot_images.present?
            - @q.snapshot_images.each_with_index do |e, i|
              .image-wrapper
                %img{src: e}
                = link_to image_tag("button_delete.png", width: "20px"), "javascript:void(0);", data: {index: i, id: @q.id.to_s}, class: "hide"
            %br
          .wrapper
            .form-group
              = label_tag :image_content, "上传解析图片（png格式）"
              = file_field_tag "image_content"
          = check_box_tag "inverse", "yes", true
          = label_tag :inverse, "反色"
        .clear-both
    #paper-bottom
