- content_for :head do
  = javascript_include_tag "pages/teacher/questions/index-bundle"
  = stylesheet_link_tag "pages/teacher/questions/index-bundle", :media => "all"
  :javascript
    window.type = "#{@type}"
    window.book_id = "#{@current_book.present? ? @current_book.id.to_s : ''}"
    window.root_point_id = "#{@current_root_point.present? ? @current_root_point.id.to_s : ''}"
    window.point_id = "#{@current_point.present? ? @current_point.id.to_s : ''}"
    window.paper_year = "#{@paper_year}"
    window.paper_province = "#{@paper_province}"
    window.paper_type = "#{@paper_type}"

- content_for :teacher_content do
  #question-index
    #book-bar
      #type-selector
        %p.hide
          =link_to "同步练习", "/teacher/questions?type=tongbu", class: "nav-a tongbu-nav-a"
        %p
          =link_to "专项练习", "/teacher/questions?type=zhuanxiang", class: "nav-a zhuanxiang-nav-a"
        %p
          =link_to "综合套题", "/teacher/questions?type=zonghe", class: "nav-a zonghe-nav-a"
      - if @type == "tongbu"
        %table
          %tr
            %th 版本选择
            %td
              %ul.edition-ul
                - @editions.each do |e|
                  - if e == @current_edition
                    %li.edition-ele.selected{data: {id: e.id.to_s}}= e.name
                  - else
                    %li.edition-ele{data: {id: e.id.to_s}}= e.name
          %tr
            %th 教材选择
            %td#books-wrapper
              %ul.book-ul
                - @books.each do |b|
                  - if b == @current_book
                    %li.book-ele.selected{data: {id: b.id.to_s}}= b.name
                  - else
                    %li.book-ele{data: {id: b.id.to_s}}= b.name
      - elsif @type == "zhuanxiang"
        %table
          %tr
            %td
              %ul.root-point-ul
                - @root_points.each do |p|
                  - if p == @current_root_point
                    %li.root-point-ele.selected{data: {id: p.id.to_s}}= p.name
                  - else
                    %li.root-point-ele{data: {id: p.id.to_s}}= p.name
      - elsif @type == "zonghe"
        %ul.zonghe-filter-ul
          %li
            %label 年份：
            = select_tag :paper_year, options_for_select(zonghe_year, 0)
          %li
            %label 省份：
            = select_tag :paper_province, options_for_select(zonghe_province, 0)
          %li
            %label 类型：
            = select_tag :paper_type, options_for_select(zonghe_type, 0)
    .clear-both
    #content-background
      - if @type == "tongbu"
        #left-part
          .folder-node#root-folder
            .name-node.root
              %span.caret-wrapper
                %b.open
              %i.icon.folder-open
            .children.hide
        #right-part
      - elsif @type == "zhuanxiang"
        #left-part
          .folder-node#root-folder
            .name-node.root
              %span.caret-wrapper
                %b.open
              %i.icon.folder-open
            .children.hide
        #right-part
          #right-top
            %table
              %tr
                %th 题型：
                %td
                  %ul
                    %li
                      - if @question_type == "all"
                        %span.selected_span 全部
                      - else
                        %a.querilayer{ href: "?question_type=all&page=1" } 全部
                    %li
                      - if @question_type == "choice"
                        %span.selected_span 选择题
                      - else
                        %a.querilayer{ href: "?question_type=choice&page=1" } 选择题
                    %li
                      - if @question_type == "blank"
                        %span.selected_span 填空题
                      - else
                        %a.querilayer{ href: "?question_type=blank&page=1" } 填空题
                    %li
                      - if @question_type == "analysis"
                        %span.selected_span 解答题
                      - else
                        %a.querilayer{ href: "?question_type=analysis&page=1" } 解答题
              %tr
                %th 难度：
                %td
                  %ul
                    %li
                      - if @difficulty == -1
                        %span.selected_span 全部
                      - else
                        %a.querilayer{ href: "?difficulty=-1&page=1" } 全部
                    %li
                      - if @difficulty == 0
                        %span.selected_span 简单
                      - else
                        %a.querilayer{ href: "?difficulty=0&page=1" } 简单
                    %li
                      - if @difficulty == 1
                        %span.selected_span 中等
                      - else
                        %a.querilayer{ href: "?difficulty=1&page=1" } 中等
                    %li
                      - if @difficulty == 2
                        %span.selected_span 困难
                      - else
                        %a.querilayer{ href: "?difficulty=2&page=1" } 困难
          #right-head
            .search-tip
              %span= "共搜索到#{@search_questions.length}道符合条件的题目"
            - if @search_questions.length > 0
              .question-paginator-wrapper
                = paginator_mini @questions
            .clear-both
          #right-questions
            - @questions["data"].each do |q|
              .content-div{data: {"question-id" => q.id.to_s, "question-type" => q.type}}
                .question-info-div
                  .question-report-wrapper.hide
                    %a.report-bug{href: "javascript:void(0);"} 报错
                  .question-info-wrapper
                    %span= "题型：" + question_type_show(q.type)
                    %span= "难度：" + difficulty_show(q.difficulty)
                  .clear-both
                .question-content-div
                  .question-content
                    = render :partial => "partials/question_content", locals: { content: q.content, image_path: q.image_path }
                  - if q.type == "choice"
                    .question-items{data: {"question-answer" => q.answer}}
                      - if q.item_len < 8
                        %table.line4
                          %tr
                            - q.items.each_with_index do |item, index|
                              %td
                                %label= d2c(index) + ". "
                                %span.item-content= item.render_question(q.image_path).html_safe
                      - elsif q.item_len < 16
                        %table.line2
                          %tr
                            - q.items[0..1].each_with_index do |item, index|
                              %td
                                %label= d2c(index) + ". "
                                %span.item-content= item.render_question(q.image_path).html_safe
                          %tr
                            - q.items[2..3].each_with_index do |item, index|
                              %td
                                %label= d2c(index + 2) + ". "
                                %span.item-content= item.render_question(q.image_path).html_safe
                      - else
                        %table.line1
                          - q.items.each_with_index do |item, index|
                            %tr
                              %td
                                %label= d2c(index) + ". "
                                %span.item-content= item.render_question(q.image_path).html_safe
                  - if q.answer_content.present? || q.answer.present?
                    .question-answer
                      %strong.answer-label 解答:
                      - if q.answer.present?
                        %span= d2c(q.answer)
                    .question-answer-content
                      = render :partial => "partials/question_content", locals: { content: q.answer_content, image_path: q.image_path }
                .compose-operation.hide
                  %a.do-compose{href: "javascript:void(0);", data: {toggle: "tooltip"}, title: "选择试题"}
                .compose-status.hide
                  %a.composed{href: "javascript:void(0);", data: {toggle: "tooltip"}, title: "取消选择"}
                .include-status.hide
                  %a.included{href: "javascript:void(0);", data: {toggle: "tooltip"}, title: "作业中已有该题"}
          #right-foot
            - if @search_questions.length > 0
              .search-tip
                %span= "共搜索到#{@search_questions.length}道符合条件的题目"
              .question-paginator-wrapper
                = paginator_mini @questions
            .clear-both
          .clear-both
      - elsif @type == "zonghe"
        #zonghe-paginator-wrapper.col-lg-8.col-lg-offset-2
          .search-tip
          .zonghe-paginator
          .clear-both
        #paper-table-wrapper.col-lg-8.col-lg-offset-2
  
  %a#scrollUp{ href: "#top", style: "display: none; position: fixed; z-index: 2147483647;" }
