- content_for :app_head do
  = javascript_include_tag "pages/weixin/lessons/exercise-bundle"
  = stylesheet_link_tag "pages/weixin/lessons/exercise-bundle", :media => "all"
  :javascript
    window.student_id="#{@current_user.id.to_s}"

= render :partial => "partials/exercise", locals: { exercises: @exercises, answers: @answers, student: @student }

#footer-prev
#footer
  %table
    %tr
      %td.record-td
        =link_to "学习记录", report_weixin_lesson_path(@lesson) + "?student_id=" + @student.id.to_s, { class: "bottom-nav" }
      %td.exercise-td
        %span.bottom-nav= "练习反馈"
