- content_for :app_head do
  = javascript_include_tag "pages/weixin/lessons/exercise-bundle"
  = stylesheet_link_tag "pages/weixin/lessons/exercise-bundle", :media => "all"

- @exercise.q_ids.each_with_index do |qid, i|
  - @question = Question.find(qid)
  - @answer_content = @answer.answer_content[qid]
  .one-question{ class: @exercise.q_ids.length == i+1 ? "last-ele" : "not-last-ele" }
    .question-content-div.content-block
      .question-content
        = render :partial => "partials/question_content", locals: { content: @question.content, image_path: @question.image_path, q_index: i+1 }
      - if @question.type == "choice"
        .question-items{data: {"question-answer" => @question.answer}}
          %ul.answer-item-ul
            - @question.items.each_with_index do |item, index|
              %li
                %a{class: d2c(index) + "-link", href: "javascript:void(0);"}
                  - if @question.answer.present? && @question.answer.to_i == index
                    %i.icon{class: d2c(index) + "-right"}
                  - elsif @answer_content["answer_index"].present? && @answer_content["answer_index"].to_i == index
                    %i.icon{class: d2c(index) + "-wrong"}
                  - else
                    %i.icon{class: d2c(index)}
                %span.item-content= item.render_question(@question.image_path).html_safe
    .answer-part.content-block
      - if @question.type == "choice"
        %span= "正确答案是"
        %span.right-answer= @question.answer.present? ? d2c(@question.answer) : ""
        - if @question.answer != @answer_content["answer_index"].to_i
          %span= "，#{@current_user.name}的答案是"
          %span.wrong-answer= @answer_content["answer_index"].present? ? d2c(@answer_content["answer_index"].to_i) : ""
          %span ，回答错误。
        - else
          %span ，回答正确。
      - if @question.answer_content.present?
        %p.answer-tip 正确答案解析：
        .question-answer-content
          = render :partial => "partials/question_content", locals: { content: @question.answer_content, image_path: @question.image_path }
      - if @answer_content["answer_content_img_id"].present?
        %p.answer-tip= "#{@current_user.name}的答案解析："
        .image-wrapper
          %img{src: WeixinMedia.image_folder + @answer_content["answer_content_img_id"]}

      - if @answer_content["comment"].present? || @answer_content["coach_comment_img_id"].present?
        %p.answer-tip= "教师批注："
        - if @answer_content["comment"].present?
          %p= @answer_content["comment"]
        - if @answer_content["coach_comment_img_id"].present?
          .image-wrapper
            %img{src: WeixinMedia.image_folder + @answer_content["coach_comment_img_id"]}


#footer
  %table
    %tr
      %td.record-td
        =link_to "学习记录", record_weixin_lesson_path(@lesson) + "?local_course_id=#{@local_course.id.to_s}", { class: "bottom-nav" }
      %td.exercise-td
        %span.bottom-nav= "练习反馈"
