- content_for :app_head do
  = javascript_include_tag "pages/weixin/lessons/record-bundle"
  = stylesheet_link_tag "pages/weixin/lessons/record-bundle", :media => "all"

%p.summary= "本讲课程学习时间共计2小时20分钟，从上午8点20至8点40。"

%p= "其中，学习“第一讲：集合初步”的时间为2小时5分钟， 学习“第二讲：映射与函数”的时间为15分钟。"

#lesson-time-figure

%p= "听讲、做例题以及完成练习的时间分别为1小时20分钟、40分钟以及20分钟。"

#type-time-figure

#footer
  %table
    %tr
      %td.record-td
        %span.bottom-nav= "学习记录"
      %td.exercise-td
        =link_to "练习反馈", exercise_weixin_lesson_path(@lesson) + "?local_course_id=#{@local_course.id.to_s}", { class: "bottom-nav" }
