- content_for :app_head do
  = javascript_include_tag "pages/weixin/lessons/report-bundle"
  = stylesheet_link_tag "pages/weixin/lessons/report-bundle", :media => "all"
  :javascript
    window.report_id="#{@report.id.to_s}"
    window.lesson_id="#{@lesson.id.to_s}"
    window.student_id="#{@current_user.id.to_s}"

= render :partial => "partials/report", locals: { report: @report }

#footer
  %table
    %tr
      %td.record-td
        %span.bottom-nav= "学习记录"
      %td.exercise-td
        =link_to "练习反馈", exercise_weixin_lesson_path(@lesson) + "?student_id=" + @current_user.id.to_s, { class: "bottom-nav" }
