<div class="data-store" data-refresh="{{refresh}}" data-id="{{id}}" data-name="{{name}}" data-type="{{type}}" >
  {{#each content}}
    {{#if hr}}
      <hr />
    {{else}}
      <div class="item {{class}}"><span>{{text}}</span></div>
    {{/if}}
  {{/each}}
</div>