- content_for :head do
  = javascript_include_tag "pages/teacher/homeworks-bundle"
  = stylesheet_link_tag "pages/teacher/homeworks-bundle", :media => "all"

.container
  / .col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
  .lib-content
    - if @homeworks.blank?
      %h4
        没有查到作业
    - else
      .container
        .row.search-bar
          .col-md-2
            = select_tag "search_subject", options_for_select(Subject::CODE_WITH_ALL, @subject.to_i), class: "form-control input-sm", id: "subject-select"
          / .col-md-2
          /  = select_tag "search_subject", options_for_select(@privilege, params[:privilege] || 3), class: "form-control input-sm", id: "privilege-select"
          .col-md-4
            .input-group
              %input#input-search.input-sm.form-control{type: "text", placeholder: "作业名称", value: params[:keyword]}/
              %span.input-group-btn
                %button#btn-search.btn.btn-default.btn-sm{type: "button"} 搜索
          .col-md-6
            .pull-right
              = paginator_mini @homeworks
      .table-responsive
        %table.table.table-striped
          %tr
            %th.col-md-1
            %th.col-md-4= table_sort_header "名称", "name"
            %th.col-md-4= table_sort_header "创建日期", "created_at"
            %th.col-md-3 操作
          - @homeworks["data"].each do |hw|
            %tr
              %td= Subject::NAME[hw.subject]
              %td
                = link_to hw.name, { controller: :homeworks, action: :show, id: hw.id.to_s}
              %td= hw.created_at.strftime("%Y-%m-%d")
              %td
                = link_to "删除", { controller: "homeworks", action: "destroy", id: hw._id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
                = link_to "生成", { controller: "homeworks", action: "generate", id: hw._id.to_s }, :class => 'btn btn-default btn-xs'
                / = link_to "导出", { controller: "homeworks", action: "export", id: hw._id.to_s }, :class => 'btn btn-default btn-xs'
                = link_to "查看", { controller: "homeworks", action: "show", id: hw._id.to_s }, :class => 'btn btn-default btn-xs'
    %button.btn.btn-bottom.btn-primary{data: {toggle: "modal", target: "#newHomework"} } 创建新作业

#newHomework.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(teacher_homeworks_path, method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新作业
        .modal-body
          .form-group
            = label_tag :subject, "学科"
            = select_tag :subject, options_for_select(Subject::CODE, current_user.subject), class: "form-control"
          .form-group
            = label_tag :name, "选择文件"
            = file_field_tag "file"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'
