- content_for :head do
  = javascript_include_tag "pages/teacher/homeworks/settings-bundle"
  = stylesheet_link_tag "pages/teacher/homeworks/settings-bundle", :media => "all"
  :javascript
    window.type = "#{@type}"

#content-background
  #content-container
    #left-float-menus
      %ul.left-menus
        %li.not-last-li
          %a{href: settings_teacher_homework_path(params[:id]) + "?type=basic"}
            %i.icon.basic-setting
            %span 基本设置
        %li.not-last-li
          %a{href: settings_teacher_homework_path(params[:id]) + "?type=export"}
            %i.icon.export-setting
            %span 导出格式
        %li
          %a{href: settings_teacher_homework_path(params[:id]) + "?type=tag"}
            %i.icon.tag-setting
            %span 标签设置
    #right-part
      #setting-form
        %form
          - case @type
          - when "basic"
            %h2 标题
            %input{:maxlength => "24", :name => "p-title", :type => "text", :value => @homework.name}/
            %h2 答案公布时间
            #now-answer
              = radio_button_tag(:time, "now")
              = label_tag(:time_now, "现在公布")
            #time-answer
              = radio_button_tag(:time, "later")
              = label_tag(:time_later, "指定时间公布")
              %input#datepicker{:type => "text"}/
          - when "export"
          - when "tag"
            %ul.tag-set-ul
              - TagSet.where(default: true).each do |ts|
                %li{data: {default: "true"}}
                  = radio_button_tag(:tag_set, ts.id.to_s)
                  = label_tag("tag_set_#{ts.id.to_s}", ts.tags.join(", "))
                  %span.tips 系统自带
              - @tag_sets.each do |ts|
                %li{data: {id: ts.id.to_s}}
                  = radio_button_tag(:tag_set, ts.id.to_s)
                  = label_tag("tag_set_#{ts.id.to_s}", ts.tags.join(", "))
                  .tag-set-operation.hide
                    %a.remove-tag-set-link{href: "javascript:void(0);"}
                      %i.icon.remove-tag-set
                    %a.edit-tag-set-link{href: "javascript:void(0);"}
                      %i.icon.edit-tag-set
            #new-tagset
              %a{href: "javascript:void(0);"} 新的标签设置

      #submit-btn
        %a.btn.btn-primary{href: "javascript:void(0);"} 确定


  #newTagSetModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 新的标签设置
        .modal-body
          %p
            %span 请输入逗号分割的标签
          %p
            %input.target.form-control{type: "text", value: ""}/
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #editTagSetModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 新的标签设置
        .modal-body
          %p
            %span 请输入逗号分割的标签
          %p
            %input.target.form-control{type: "text", value: ""}/
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消