- content_for :head do
  = javascript_include_tag "pages/teacher/homeworks/show-bundle"
  = stylesheet_link_tag "pages/teacher/homeworks/show-bundle", :media => "all"
  :javascript

#content-background
  #paper-top
  #paper
    - if @homework.questions_in_order.length == 0
      %p.tip-p 作业中没有题目
      %p.tip-p
        %span 您可以前往
        %a.compose-link{href: "javascript:void(0);"} 在线题库
        %span 选题
    - @homework.questions_in_order.each do |q|
      .content-div{data: {"question-id" => q.id.to_s, "question-type" => q.type}}
        .question-content-div
          .question-content
            = render :partial => "partials/question_content", locals: { content: q.content, image_path: q.image_path }
          - if q.type == "choice"
            .question-items{data: {"question-answer" => q.answer}}
              - if q.item_len < 8
                %table.line4
                  %tr
                    - q.items.each_with_index do |item, index|
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
              - elsif q.item_len < 16
                %table.line2
                  %tr
                    - q.items[0..1].each_with_index do |item, index|
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
                  %tr
                    - q.items[2..3].each_with_index do |item, index|
                      %td
                        %label= d2c(index + 2) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
              - else
                %table.line1
                  - q.items.each_with_index do |item, index|
                    %tr
                      %td
                        %label= d2c(index) + ". "
                        %span.item-content= item.render_question(q.image_path).html_safe
          - if q.answer_content.present? || q.answer.present?
            .question-answer
              %strong.answer-label 解答:
              - if q.answer.present?
                %span= d2c(q.answer)
            .question-answer-content
              = render :partial => "partials/question_content", locals: { content: q.answer_content, image_path: q.image_path }
        .question-operation-div.hide
          .btn-group.right{data: { qid: q.id.to_s }}
            = link_to "替换", "javascript:void(0)", :method => "get", :class => 'btn btn-default btn-sm replace-btn', data: {qid: q.id.to_s}
            = link_to "插入", "javascript:void(0)", :method => "get", :class => 'btn btn-default btn-sm insert-btn', data: {qid: q.id.to_s}
            = link_to "删除", { controller: "teacher/questions", action: "destroy", id: q.id.to_s }, :method => "delete", :class => 'btn btn-default btn-sm'
  #paper-bottom

#replaceModal.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(replace_teacher_homework_path(@homework), method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 替换题目
        .modal-body
          %p.hide
            = text_field_tag "question_id"
          %p
            %span 1、请
            = link_to "点击这里", "javascript:void(0)", :class => 'question-download-url', :method => "get"
            %span 下载本题目
          %p
            = file_field_tag "replace_homework_file", { class: "hide", accept: ".docx,.doc" }
            %span 2、上传修改后的题目
            %a#browser-replace-homework-click{href: "javascript:void(0);"}
            %p#replace-homework-name
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "完成", :class => 'btn-primary btn'

#insertModal.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(insert_teacher_homework_path(@homework), method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 插入题目
        .modal-body
          %p.hide
            = text_field_tag "question_id"
          %p
            %span 新题目将出现在本题之后
          %p
            = file_field_tag "insert_homework_file", { class: "hide", accept: ".docx,.doc" }
            %span 上传要插入的题目
            %a#browser-insert-homework-click{href: "javascript:void(0);"}
            %p#insert-homework-name
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "完成", :class => 'btn-primary btn'
