- content_for :head do
  = javascript_include_tag "pages/teacher/homeworks-bundle"
  = stylesheet_link_tag "pages/teacher/homeworks-bundle", :media => "all"
  :javascript
    window.homework_id = '#{@homework.id.to_s}'

.container
  .sub-banner
    .wrap
      %h2= truncate_u(@homework.name, 10)
      .title-edit.hide
        %input.form-control{type: "text", value: @homework.name}/
        %button.btn.btn-default.btn-sm.title-ok{data: {"homework-id" => @homework.id.to_s}} 确 定
        %button.btn.btn-default.btn-sm.title-cancel 取 消
      %ul
        %li.tooltips{title: "返回", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to "返回", teacher_homeworks_path
        %li.tooltips{title: "生成", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to "生成", generate_teacher_homework_path(@homework)
        %li.tooltips{title: "删除", data: {toggle: "tooltip", placement: "bottom"}}
          = link_to "删除", teacher_homework_path(@homework), {method: "delete", confirm: "确定删除？"}
  .lib-content
    - @homework.questions.asc(:created_at).each do |q|
      .content-div
        .question-div{data: {"question-id" => q.id.to_s, "question-type" => q.type}}
          .question-content-div
            .question-content
              = render :partial => "partials/question_content", locals: { content: q.content }
            - if q.figures.present?
              .question-figures
                = render :partial => "partials/question_figures", locals: { figures: q.q_figures }
            - if q.type == "choice"
              .question-items{data: {"question-answer" => q.answer}}
                - q.items.each_with_index do |item, index|
                  - if q.answer == index
                    %p{id: "#{q.id.to_s}-item-#{index}"}
                      %em.glyphicon.glyphicon-ok
                      %label= d2c(index) + ". "
                      %span.item-content= item.render_question.html_safe
                  - else
                    %p.item-is-not-answer{id: "#{q.id.to_s}-item-#{index}"}
                      %em.glyphicon.glyphicon-ok
                      %label= d2c(index) + ". "
                      %span.item-content= item.render_question.html_safe
            - if q.answer_content.present?
              %strong.answer-label 解答
              .question-answer
                = render :partial => "partials/question_content", locals: { content: q.answer_content }
            - else
              %strong.answer-label.hide 解答
              .question-answer.hide
                = render :partial => "partials/question_content", locals: { content: q.answer_content }
          .question-operation-div.hide
            %a{href: "#"}
              %em.glyphicon.glyphicon-pencil
        .clear-both

#shareModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3 分享作业
      .modal-body
        .right
          %label
            %input.share-all{type: "checkbox", checked: (@colleague_ids - @visitor_ids).blank?}/
            全选
        .clear-both
        .scroll
          %table.table.table-striped
            - @colleagues.each do |c|
              %tr{data: {id: c.id}}
                %td.col-md-3= c.name
                %td.col-md-5= c.email
                %td.col-md-2
                  %label
                    %input.share-one{type: "checkbox", checked: @visitor_ids.include?(c.id.to_s)}/
                    分享
      .modal-footer
        %a.btn.btn-primary{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 完成
