- content_for :app_head do
  = javascript_include_tag "pages/coach/exercises/show-bundle"
  = stylesheet_link_tag "pages/coach/exercises/show-bundle", :media => "all"

.header
  %h4.course-name-tip= @local_course.name + " 练习反馈"
  %span.info= lesson_helper(@index) + @lesson.name.my_trim(6)
  .paginator-part
    = link_to_if @question_index > 0, "<<", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=0"
    = link_to_if @question_index > 0, "上一题", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=" + (@question_index - 1).to_s
    %span= "#{@question_index + 1}/#{@question_number}"
    = link_to_if @question_index < @question_number - 1, "下一题", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=" + (@question_index + 1).to_s
    = link_to_if @question_index < @question_number - 1, ">>", weixin_exercise_path(@lesson) + "?local_course_id=" + @local_course.id.to_s + "&index=" + @index.to_s + "&q_index=#{@question_number - 1}"
  .clear-both

.question-content-div.content-block
  .question-content
    = render :partial => "partials/question_content", locals: { content: @question.content, image_path: @question.image_path }
  - if @question.type == "choice"
    .question-items{data: {"question-answer" => @question.answer}}
      %ul.answer-item-ul
        - @question.items.each_with_index do |item, index|
          %li
            %a{class: d2c(index) + "-link", href: "javascript:void(0);"}
              %i.icon{class: d2c(index)}
            %span.item-content= item.render_question(@question.image_path).html_safe

.student-answer-content
  %h4 学生解析：
  = link_to "拍照或选择图片", "javascript:void(0);", { class: "get-answer-content-photo" }
  %img.student-answer-content-img

.coach-comment
  %h4 教师评语：
  = link_to "语音输入", "javascript:void(0);", { class: "get-coach-comment-voice" }
  = link_to "拍照或选择图片", "javascript:void(0);", { class: "get-coach-comment-photo" }
  = text_area_tag "comment", "", {class: "coach-comment-area"}
  %img.coach-comment-img

.save-wrapper
  = link_to "保存", "javascript:void(0)", { class: "save-btn btn btn-warning" }

/ = link_to "TAKE A PHOTO", "javascript:void(0);", { class: "photo" }
/ %br
/ = link_to "START", "javascript:void(0);", { class: "start" }
/ %br
/ = link_to "STOP", "javascript:void(0);", { class: "stop" }
/ %br
/ = link_to "TRANSLATE", "javascript:void(0);", { class: "translate" }
/ %br
/ = link_to "QRCODE", "javascript:void(0);", { class: "qrcode" }

#voiceInput.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .jesse-notification
          %span
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3 采集语音输入
      .modal-body
        .checkbox
          = label_tag :replace_current do
            = check_box_tag :replace_current, 1, false
            替换原有内容
        %span.record-tip.hide 正在录音
      .modal-footer
        %a#start-btn.btn.btn-primary{href: "javascript:void(0);", "aria-hidden" => "true"} 开始
        %a#stop-btn.btn.btn-primary{href: "javascript:void(0);", "aria-hidden" => "true", disabled: true} 结束
