- content_for :head do
  = javascript_include_tag "pages/student/questions-bundle"
  = stylesheet_link_tag "pages/student/questions-bundle", :media => "all"
  :javascript
    window.subject = "#{@question.homework.subject.to_s}"
    window.summary = ""

.container
  .lib-content.row
    = render :partial => "partials/note", locals: { n: @question, type: "question" }

= render "partials/sign_modal"
