- content_for :app_head do
  = javascript_include_tag "pages/weixin/reports/index-bundle"
  = stylesheet_link_tag "pages/weixin/reports/index-bundle", :media => "all"

- if @reports.blank?
  .info= "教师还没有为#{@current_user.name}撰写学情报告"

- if @local_course.present?
  %p.selected-course= @local_course.name

%table
  - @reports.each do |r|
    %tr.one-report
      %td.left-part
        %span.month= r.month
        %br
        %span.day= r.day
      %td.middle-part
        .content-wrapper
          %p= r.content_in_short
        .info
          %span= r.info
      %td.right-part
        %a.slide-right-link{href: weixin_report_path(r)}
          %i.icon.slide-right

#left-filter
  .filter-title
    %h1.title-content 课程选择
    %a.right.turnoff-link{href: "javascript:void(0);"}
      %i.icon.turnoff
  %ul
    %li
      = link_to "全部课程", weixin_reports_path
    - @local_courses.each do |lc|
      %li
        = link_to lc.name, weixin_reports_path + "?local_course_id=#{lc.id.to_s}"
