- content_for :app_head do
  = javascript_include_tag "pages/lecture_users/new-bundle"
  = stylesheet_link_tag "pages/lecture_users/new-bundle", :media => "all"


#top-wrapper
  #top
    = form_tag(lecture_users_path, method: "post", multipart: true) do
      %fieldset
        %p 请留下您的联系方式，我们的工作人员会向您致电告知讲座的具体时间和地点：
        .form-group
          = text_field_tag :mobile, "", :autofocus => true, class: "form-control", placeholder: "电话号码"
        = submit_tag "立即报名", class: "btn btn-danger"
    .stat
      %span 已经有
      %span.em= (173 + LectureUser.count).to_s
      %span 位家长报名

#bottom
  %p.c1 想听北大清华毕业的状元名师现身说法吗？
  .c2
    %span.em 有福啦！
    %span 易飞学堂邀请
    %span.em 顶级
    %span 名师团为
    %span.em 吉林
    %span 父老举办
    %span.em 免费
    %span 讲座！
  .c3 8月开讲，火热报名中！！！
  %ul.c4
    %li 高考改革，大语文时代，究竟意味着什么？
    %li 竞赛保送、自主招生、高考加分，到底什么政策，是否遥不可及？
    %li 平行志愿下，应该采取什么样的填报策略？
    %li 初中次次100分，高中次次60分，怎么回事？
    %li 什么样的学生更容易考上顶级名校？


.teacher
  .teacher-title 金牌讲师
  %ul
    %li 人大附中骨干物理教师，高中毕业于吉林一中，本科及研究生分别毕业于北京大学物理系和清华大学电子系。
    %li 2015年所带毕业生包揽北京市理科前五名中的四名，刘智昕同学获北京市高考状元。
    %li 2012年所带毕业生50人中48人考入北大清华哈佛耶鲁等名校，张炎蒸同学获北京市高考状元（总分）。
    %li 中学物理奥林匹克竞赛金牌教练，培养出国际金牌一人，亚洲金牌两人，国家金牌十几人。

.teacher
  .teacher-title 金牌讲师
  %ul
    %li 人大附中骨干语文教师，高中毕业于吉林一中，本科及研究生毕业于北京大学中文系。
    %li 参与编写《笔尖上的成长》、《人大附中学生这样读书》等，对作为和阅读教学有相当的心得。
    %li 指导学生作文曾在“春蕾杯”作文竞赛获北京市一等奖3人，二等奖8人，学生作品曾多次在《语文报》、《北京青年报》等发表。
    %li 2013年所带毕业生高考语文125人以上8人。

.teacher-intro 实验小学、吉林五中、吉林一中、北大、清华、人大附中一路走来，他们有什么样的感悟？面对家乡父老 ，他们要对家长和学生提出怎样的建议？

.c5
  = image_tag "logo.png", width: "100px"
  %span 家门口的名师课堂
