<!--<span>第{{start_number}}-{{end_number}}项,共{{total_number}}项</span>-->
<span>第{{current_page}}页,共{{total_page}}页</span>
<div class='btn-group'>
  <a type="button" class="btn btn-default btn-sm paginator-link" data-page="{{previous_page}}"  data-per-page="{{per_page}}" href="javascript:void(0);">&lt; </a>
  <a type="button" class="btn btn-default btn-sm paginator-link" data-page="{{next_page}}"  data-per-page="{{per_page}}" href="javascript:void(0);">&gt; </a>
</div>