<li data-id={{id}}>
  <input id="tag_set_{{id}}" name="tag_set" type="radio" value="{{id}}">
  <label for="tag_set_{{id}}">{{tags}}</label>
  <div class="tag-set-operation hide">
    <a class="remove-tag-set-link" href="javascript:void(0);" title="删除">
      <i class="icon remove-tag-set"></i>
    </a>
    <a class="edit-tag-set-link" href="javascript:void(0);" title="编辑">
      <i class="icon edit-tag-set"></i>
    </a>
  </div>
</li>