- content_for :app_head do
  = javascript_include_tag "pages/homework/exams/entry-bundle"
  = stylesheet_link_tag "pages/homework/exams/entry-bundle", :media => "all"
  :javascript
    window.student_id_str = "#{@student_id_str}"
    window.student_name_str = "#{@student_name_str}"

- content_for :app_nav do
  #homework-navbar
    %h1#title= @title

- content_for :app_content do
  %span
