- content_for :app_head do
  = javascript_include_tag "pages/homework/exams/new-bundle"
  = stylesheet_link_tag "pages/homework/exams/new-bundle", :media => "all"
  :javascript
    window.klass_id = "#{@klass.id.to_s}"

- content_for :app_nav do
  #homework-navbar
    %a.nav-left-icon{href: "javascript:void(0);"}
      %i.icon.return
    %h1#title= @title

- content_for :app_content do
  .title-wrapper.form-inline.pre-entry
    = text_field_tag :title, Time.now.strftime("%Y年%m月%d日-" + Subject::NAME[@current_user.subject] + "作业"), class: "form-control"

  .radios-wrapper.pre-entry
    .radio-wrapper
      = radio_button_tag(:type, "no", true)
      = label_tag(:type_no, "无成绩")
    %br
    .radio-wrapper
      = radio_button_tag(:type, "abcd", false)
      = label_tag(:type_abcd, "ABCD")
    %br
    .radio-wrapper
      = radio_button_tag(:type, "5", false)
      = label_tag(:type_5, "5分制")
    %br
    .radio-wrapper
      = radio_button_tag(:type, "10", false)
      = label_tag(:type_10, "10分制")
    %br
    .radio-wrapper
      = radio_button_tag(:type, "100", false)
      = label_tag(:type_100, "100分制")

  .btn-wrapper.pre-entry
    = link_to "确定", "javascript:void(0);", class: "btn btn-primary btn-main form-control btn-create"

  .entry.hide
    .score-100
      %span 分数：
      .score-input-wrapper.form-inline
        = text_field_tag :score_input, "", class: "form-control"
    .score-5
    .score-abcd
      %a{href: "javascript:void(0);", data: {value: "a"}}
        %i.icon.exam_A32
      %a{href: "javascript:void(0);", data: {value: "b"}}
        %i.icon.exam_B32
      %a{href: "javascript:void(0);", data: {value: "c"}}
        %i.icon.exam_C32
      %a{href: "javascript:void(0);", data: {value: "d"}}
        %i.icon.exam_D32
    .operation
      %a.praise{href: "javascript:void(0);"}
        %i.icon.star
        %span 提出表扬
    .operation
      %a{href: "javascript:void(0);"}
        %i.icon.edit
        %span 文字点评
    .operation
      %a{href: "javascript:void(0);"}
        %i.icon.photo
        %span 拍照上传
    .btn-wrapper
      = link_to "下一个", "javascript:void(0);", class: "btn btn-primary btn-main form-control btn-next"
      = link_to "结束", "javascript:void(0);", class: "btn btn-primary btn-main form-control btn-over"
