- content_for :app_head do
  = javascript_include_tag "pages/homework/exams/show-bundle"
  = stylesheet_link_tag "pages/homework/exams/show-bundle", :media => "all"

- content_for :app_nav do
  #homework-navbar
    %a.nav-left-icon{href: "javascript:void(0);"}
      %i.icon.return
    %h1#title= @title

- content_for :app_content do
  .exam-title-wrapper
    %span.title= @exam.title
    %br
    %span.created-at= @exam.created_at.strftime("%Y年%m月%d日")
  .exam-stat-wrapper
    %p= "已提交#{@submit_number}份，还差#{@lack_number}份，提交率#{@submit_rate}"
  .stat-pic-wrapper
  .detail-table-wrapper
    %table
      - @exam.scores.each do |score|
        %tr{data: { id: score.id.to_s }}
          %td.name-td= score.student.name
          %td.score-td= score.score_in_text
          %td.op-td
            = link_to "删除", homework_score_path(score) + "?exam_id=" + @exam.id.to_s, :method => "delete"
            = link_to "编辑", "javascript:void(0);"
      - @exam.lack_students.each do |student|
        %tr
          %td.name-td= student.name
          %td.score-td= "未提交"
          %td.op-td
      
  .btn-wrapper
    = link_to "补交作业", scan_homework_exam_path(@exam), class: "btn btn-primary btn-main form-control btn-append"
