- content_for :head do
  = javascript_include_tag "pages/student/notes/show-bundle"
  = stylesheet_link_tag "pages/student/notes/show-bundle", :media => "all"
  :javascript
    window.subject = "#{@note.question.homework.subject.to_s}"
    window.summary = "#{@note.summary}"
    window.topics = "#{@note.topics.map { |e| e.name } .join(',')}"

.container
  .lib-content.col-md-12
    = render :partial => "partials/note", locals: { n: @note, type: "note" }
