- content_for :head do
  = javascript_include_tag "pages/student/notes/show-bundle"
  = stylesheet_link_tag "pages/student/notes/show-bundle", :media => "all"
  :javascript
    window.subject = "#{@note.question.homework.subject.to_s}"
    window.summary = "#{@note.summary}"
    window.topics = "#{@note.topics.map { |e| e.name } .join(',')}"
    window.new_note = "#{@new_note}"
    window.new_teacher = "#{@new_teacher}"

.container
  .lib-content.col-md-12
    = render :partial => "partials/note", locals: { n: @note, type: "note" }

#add-teacher.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3 添加教师
      .modal-body
        %p
          %span= "添加 #{@teacher.teacher_info} 为你的#{Subject::NAME[@teacher.subject]}老师？"
      .modal-footer
        %a.btn.btn-default#teacher-cancel-btn{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
        %a.btn.btn-primary#teacher-confirm-btn{href: "#", data: { "teacher-id" => @teacher.id.to_s }, "aria-hidden" => "true"} 确定
