- content_for :head do
  = javascript_include_tag "pages/admin/courses-bundle"
  = stylesheet_link_tag "pages/admin/courses-bundle", :media => "all"
  :javascript

.container
  - if @lesson.course.present?
    = link_to "返回本课程", { controller: "admin/lessons", action: "index", course_id: @lesson.course.id.to_s }
  %h3= @lesson.name_with_course_and_teacher + "的视频列表"
  .lib-content
    - if @videos.blank?
      %h4
        没有视频
    - else
      %table#course-table.table.table-striped
        %tr
          %th.col-md-1= "名称"
          %th.col-md-1= "序号"
          %th.col-md-2= "文件名"
          %th.col-md-1= "时长"
          %th.col-md-1 操作
        - @videos.each do |v|
          %tr{ data: {id: v.id.to_s} }
            %td.video-name= v.name
            %td.video-order= v.order
            %td= v.video_url.to_s
            %td= v.duration
            %td
              = link_to "编辑", "javascript:void(0);", :class => 'btn btn-primary btn-xs btn-edit-video', data: { id: v.id.to_s, name: v.name, order: v.order }
              = link_to "详细", { controller: "admin/videos", action: "show", id: v._id.to_s }, :class => 'btn btn-primary btn-xs'
              = link_to "删除", { controller: "admin/videos", action: "destroy", id: v.id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
    %button.btn.btn-primary.btn-new{data: {toggle: "modal", target: "#newVideo"} } 创建新视频

#editVideo.modal.fade
  .modal-dialog
    .modal-content
      = form_tag("", method: "put", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 编辑视频名称
        .modal-body
          .form-group
            = label_tag :subject, "名称"
            = text_field_tag "video[name]", "", autofocus: true, class: "form-control"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "更新", :class => 'btn-primary btn'


#newVideo.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_videos_path, method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新视频
        .modal-body
          .form-group.hide
            = text_field_tag "video[lesson_id]", @lesson.id.to_s, autofocus: true, class: "form-control"
          / .form-group
          /   = label_tag :teacher, "视频类型"
          /   = select_tag "video[video_type]", options_for_select(Video.video_type_for_select, -1), class: "form-control"
          .form-group
            = label_tag :subject, "名称"
            = text_field_tag "video[name]", "", autofocus: true, class: "form-control"
          .form-group
            = label_tag :order, "序号（从1开始）"
            = text_field_tag "video[order]", "", autofocus: false, class: "form-control"
          / .form-group
          /   = label_tag :order, "时长"
          /   = text_field_tag "video[time]", "", autofocus: false, class: "form-control"
          .form-group.select-video
            = label_tag :video_content, "选择已有视频"
            .form-group
              = label_tag :course_selector_lable, "课程：", class: "col-sm-2 control-label"
              .col-sm-10
                = select_tag "course_selector", options_for_select(Course.courses_for_select), class: "form-control"
            .form-group
              = label_tag :course_selector_lable, "讲：", class: "col-sm-2 control-label"
              .col-sm-10
                = select_tag "lesson_selector", options_for_select({ "请选择" => -1 }), class: "form-control"
            .form-group
              = label_tag :course_selector_lable, "视频：", class: "col-sm-2 control-label"
              .col-sm-10
                = select_tag "existing_video_content", options_for_select(Video.existing_video_content_for_select, -1), class: "form-control"
          .form-group
            = label_tag :video_content, "或上传视频文件（mp4格式）"
            = file_field_tag "video_content"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'
