- content_for :head do
  = javascript_include_tag "pages/admin/courses-bundle"
  = stylesheet_link_tag "pages/admin/courses-bundle", :media => "all"
  :javascript

.container
  %h3= @lesson.name_with_course_and_teacher + "的内容"
  .lib-content
    - if @videos.blank?
      %h4
        没有视频
    - else
      %table#course-table.table.table-striped
        %tr
          %th.col-md-1= "视频类型"
          %th.col-md-1= "名称"
          %th.col-md-1 操作
        - @videos.each do |v|
          %tr
            %td= Video.show_type(v.video_type)
            %td= v.name
            %td
              = link_to "删除", { controller: "admin/videos", action: "destroy", id: v.id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
              / = link_to "标签", { controller: "admin/tags", action: "index", video_id: v._id.to_s }, :class => 'btn btn-primary btn-xs'
    %button.btn.btn-primary{data: {toggle: "modal", target: "#newLesson"} } 创建新视频

#newLesson.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_videos_path, method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新视频
        .modal-body
          .form-group.hide
            = text_field_tag "video[lesson_id]", @lesson.id.to_s, autofocus: true, class: "form-control"
          .form-group
            = label_tag :teacher, "视频类型"
            = select_tag "video[video_type]", options_for_select(Video.video_type_for_select, -1), class: "form-control"
          .form-group
            = label_tag :subject, "名称"
            = text_field_tag "video[name]", "", autofocus: true, class: "form-control"
          .form-group
            = label_tag :order, "序号（从1开始）"
            = text_field_tag "video[order]", "", autofocus: false, class: "form-control"
          .form-group
            = label_tag :video_content, "视频文件（mp4格式）"
            = file_field_tag "video_content"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'
