- content_for :head do
  = javascript_include_tag "pages/admin/videos-bundle"
  = stylesheet_link_tag "pages/admin/videos-bundle", :media => "all"
  :javascript
    window.video_id = "#{@video.id.to_s}"

.container
  - if @video.lesson.present?
    = link_to "返回本讲视频列表", { controller: "admin/videos", action: "index", lesson_id: @video.lesson.id.to_s }
  - if @video.question.present?
    = link_to "题目详情", "/teacher/questions/#{@video.question_id.to_s}/detail"
  %br
  - if @video.lesson.present?
    %h3.inline-title= "课程：" + @video.course_name
    %h3.inline-title= "本讲：" + @video.lesson_name
    %h3.inline-title= "视频标题：" + @video.name
    %h3.inline-title= "顺序：第" + @video.video_order.to_s + "段"
  %h3= "文件名：" + @video.video_url.to_s
  - if @video.video_type == 2
    %h3= "推荐完成时间：" + @video.time.to_s + "分钟"
    %h3= "例题所在页面：" + @video.page.to_s + "页"
    %h3= "例题名称：" + @video.question_name.to_s
  #video-canvas-wrapper
    %video{width: "100%", src: "#{@video.video_url}", controls: "controls"} 您的浏览器不支持 video 标签。
    %canvas.hide
  #check-snapshot.hide
    %h4#check-snapshot-title 查看截图
    - if @video.lesson.present?
      %span 绑定题目
      .wrapper
        = select_tag "update_question_id", options_for_select(@video.lesson.questions_for_select, -1), class: "form-control"
    - else
      .form-group.hide
        = text_field_tag "tag[update_question_id]", params[:update_question_id], autofocus: false
    %br
    %span 关键点文字描述
    %ul.point-ul
    %a.btn.btn-primary.btn-update-snapshot{href: "javascript:void(0);"} 更新
    %a.btn.btn-default.btn-return-snapshots{href: "javascript:void(0);"} 返回
    .bottom-space
  #new-snapshot.hide
    = form_tag(admin_snapshots_path, method: "post", multipart: true) do
      %h4#new-snapshot-title 创建新截图
      - if @video.lesson.present?
        .form-group
          %span 绑定题目
          .wrapper
            = select_tag "question_id", options_for_select(@video.lesson.questions_for_select, -1), class: "form-control"
      - else
        .form-group.hide
          = text_field_tag "question_id", @video.question_id.to_s, autofocus: false
      %span#key-point-ul-title.hide 关键点文字描述
      %ul.point-ul
      %a.btn.btn-default.btn-select{href: "javascript:void(0);", "aria-hidden" => "true"} 选点
      %a.btn.btn-default.btn-cancel{href: "javascript:void(0);", "aria-hidden" => "true"} 取消
      = submit_tag "创建", :class => 'btn-primary btn'
  #snapshots
    - if @video.snapshots.present?
      %h4#snapshot-list 截图列表
      %table#snapshot-table.table.table-striped
        %tr
          %th.col-md-1= "时间（秒）"
          %th.col-md-1= "关键点数量"
          %th.col-md-1= "操作"
        - (@video.snapshots).each_with_index do |s, i|
          %tr
            %td= s.time.round(1)
            %td= s.key_point.length
            %td
              = link_to "删除", { controller: "admin/snapshots", action: "destroy", id: s.id.to_s, video_id: @video.id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
              = link_to "查看", "javascript:void(0);", :class => 'btn btn-primary btn-xs btn-check-snapshot', data: {id: s.id.to_s}
              = link_to "题目", "/teacher/questions/#{s.question.id.to_s}/detail", :class => 'btn btn-default btn-xs', target: "_blank"
  .clear-both
  .lib-content
    - if @video.tags.blank?
      %h4 没有标签
    - else
      %h4 标签列表
      %table#course-table.table.table-striped
        %tr
          %th.col-md-1= "标签类型"
          %th.col-md-1= "时间点"
          %th.col-md-1= "持续时间"
          %th.col-md-1= "名称"
          %th.col-md-1= "知识片段"
          %th.col-md-1 操作
        - (@video.tags || []).each_with_index do |t, i|
          %tr
            %td= Video.show_tag_type(t["tag_type"])
            %td= t["time"]
            %td= t["duration"]
            %td= t["name"]
            %td= t["episode_id"].present? ? Video.find(t["episode_id"]).name : ""
            %td
              = link_to "删除", { controller: "admin/tags", action: "destroy", id: t["time"], video_id: @video.id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
    %button.btn.btn-primary{data: {toggle: "modal", target: "#newTag"} } 创建新标签
    %button.btn.btn-new-snapshot.btn-primary 创建新截图
    .bottom-space

#newTag.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_tags_path, method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新标签
        .modal-body
          .field-wrapper
            .form-group.col-sm-12
              = label_tag :teacher, "标签类型"
              = select_tag "tag[tag_type]", options_for_select(Video.tag_type_for_select, 3), class: "form-control"
            #snapshot-selector-wrapper.hide.col-sm-12
              = select_tag "tag[snapshot_id]", options_for_select(@video.snapshots_for_select, -1), class: "form-control"
          #form-ele-wrapper
            .field-wrapper
              .form-group.hide
                = text_field_tag "video_id", @video.id.to_s, autofocus: true, class: "form-control"
            .field-wrapper
              .form-group.col-sm-4
                = label_tag :name, "名称"
                = text_field_tag "tag[name]", "", autofocus: true, class: "form-control"
              .form-group.col-sm-4
                = label_tag :time, "时间点"
                = text_field_tag "tag[time]", "", autofocus: false, class: "form-control"
              .form-group.col-sm-4
                = label_tag :duration, "持续时间"
                = text_field_tag "tag[duration]", "", autofocus: false, class: "form-control"
            - if @video.lesson.present?
              .field-wrapper
                .form-group.col-sm-12.hide
                  = label_tag :episode_id, "视频链接"
                  = select_tag "tag[episode_id]", options_for_select(@video.episodes_for_select, -1), class: "form-control"
            - if @video.lesson.present?
              .field-wrapper
                .form-group.col-sm-12
                  = label_tag :question_id, "题目"
                  = select_tag "select_question", options_for_select(@video.lesson.exercises_for_select, -1), class: "form-control"
                .col-sm-12
                  %ul.tag-question-ul
                  = text_field_tag "tag[question_id]", "", autofocus: false, class: "hide"
            - else
              = text_field_tag "tag[question_id]", @video.question_id.to_s, autofocus: false, class: "hide"
        .modal-footer
          %a.btn.btn-default{href: "javascript:void(0);", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'
