- content_for :head do
  = javascript_include_tag "pages/admin/courses-bundle"
  = stylesheet_link_tag "pages/admin/courses-bundle", :media => "all"
  :javascript

.container
  .lib-content
    .top-wrapper
      .paginator-wrapper
        = paginator_mini @courses
      .selector-wrapper
        = label_tag :course_subject, "科目"
        = select_tag "course[subject]", options_for_select(Subject::CODE_WITH_ALL, params[:subject] || 0), class: "form-control"
        = label_tag :course_type, "类型"
        = select_tag "course[type]", options_for_select(Course.type_for_select_with_all, params[:type] || 0), class: "form-control"
        = label_tag :course_status, "状态"
        = select_tag "course[status]", options_for_select(Course.status_for_select, params[:status] || 1), class: "form-control"
        = link_to "筛选", "javascript:void(0);", class: "btn btn-primary btn-filter"

    - if @courses["data"].blank?
      %h4
        没有符合条件的课程
    - else
      %table#course-table.table.table-striped
        %tr
          %th.col-md-1= "教师"
          %th.col-md-1= "科目"
          %th.col-md-1= "名称"
          %th.col-md-1= "年级"
          %th.col-md-3= "简介"
          %th.col-md-1= "建议学时"
          %th.col-md-1= "讲义封面"
          %th.col-md-3 操作
        - @courses["data"].each do |c|
          %tr{data: { id: c.id.to_s, teacher_id: c.teacher.id.to_s, subject: c.subject, name: c.name, type: c.course_type, start_at: Time.at(c.start_at).strftime("%Y/%m/%d"), end_at: Time.at(c.end_at).strftime("%Y/%m/%d"), grade: c.grade, desc: c.desc, suggestion: c.suggestion }}
            %td= c.teacher.name
            %td= Subject::NAME[c.subject]
            %td= c.name
            / %td= Time.at(c.start_at).strftime("%y%m%d") + "到" + Time.at(c.end_at).strftime("%y%m%d")
            %td= c.grade
            %td= c.desc
            %td= c.suggestion
            %td
              =image_tag(c.textbook_url)
            %td
              = link_to "删除", { controller: "admin/courses", action: "destroy", id: c._id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
              = link_to "内容", { controller: "admin/lessons", action: "index", course_id: c._id.to_s }, :class => 'btn btn-primary btn-xs'
              = link_to "编辑", "javascript:void(0);", :class => 'btn btn-primary btn-xs btn-edit'
              - if c.ready
                = link_to "下架", { controller: "admin/courses", action: "toggle_ready", id: c._id.to_s }, method: "put", :class => 'btn btn-primary btn-xs'
              - else
                = link_to "上架", { controller: "admin/courses", action: "toggle_ready", id: c._id.to_s }, method: "put", :class => 'btn btn-primary btn-xs'
    %button.btn.btn-new.btn-primary{data: {toggle: "modal", target: "#newCourse"} } 创建新课程

#editCourse.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_courses_path, method: "put", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3.course-name 编辑课程：
        .modal-body
          .wrapper
            .form-group.col-sm-6
              = label_tag :teacher, "教师"
              = select_tag "course[teacher_id]", options_for_select(User.tablet_teachers, -1), class: "form-control"
            .form-group.col-sm-3
              = label_tag :subject, "学科"
              = select_tag "course[subject]", options_for_select(Subject::CODE, 4), class: "form-control"
            .form-group.col-sm-3
              = label_tag :subject, "类型"
              = select_tag "course[type]", options_for_select(Course.type_for_select, 1), class: "form-control"
          .wrapper
            .form-group.col-sm-6
              = label_tag :subject, "名称"
              = text_field_tag "course[name]", "", autofocus: true, class: "form-control"
            .form-group.col-sm-3
              = label_tag :start_at, "年级"
              = text_field_tag "course[grade]", "", autofocus: true, class: "form-control"
            .form-group.col-sm-3
              = label_tag :start_at, "建议学时"
              = text_field_tag "course[suggestion]", "", autofocus: true, class: "form-control"
          .wrapper
            .form-group.col-sm-6
              = label_tag :start_at, "起始时间（形如 2015/7/1）"
              = text_field_tag "course[start_at]", "", autofocus: true, class: "form-control"
            .form-group.col-sm-6
              = label_tag :start_at, "结束时间（形如 2015/7/1）"
              = text_field_tag "course[end_at]", "", autofocus: true, class: "form-control"
          .wrapper
            .form-group.col-sm-12
              = label_tag :start_at, "简介"
              = text_field_tag "course[desc]", "", autofocus: true, class: "form-control"
          .wrapper
            .form-group.col-sm-12
              = label_tag :textbook_url, "讲义封面"
              = file_field_tag "textbook"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "更新", :class => 'btn-primary btn'

#newCourse.modal.fade
  .modal-dialog
    .modal-content
      = form_tag(admin_courses_path, method: "post", multipart: true) do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新课程
        .modal-body
          .wrapper
            .form-group.col-sm-6
              = label_tag :teacher, "教师"
              = select_tag "course[teacher_id]", options_for_select(User.tablet_teachers, -1), class: "form-control"
            .form-group.col-sm-3
              = label_tag :subject, "学科"
              = select_tag "course[subject]", options_for_select(Subject::CODE, 4), class: "form-control"
            .form-group.col-sm-3
              = label_tag :subject, "类型"
              = select_tag "course[type]", options_for_select(Course.type_for_select, 1), class: "form-control"
          .wrapper
            .form-group.col-sm-6
              = label_tag :subject, "名称"
              = text_field_tag "course[name]", "", autofocus: true, class: "form-control"
            .form-group.col-sm-3
              = label_tag :start_at, "年级"
              = text_field_tag "course[grade]", "", autofocus: true, class: "form-control"
            .form-group.col-sm-3
              = label_tag :start_at, "建议学时"
              = text_field_tag "course[suggestion]", "", autofocus: true, class: "form-control"
          .wrapper
            .form-group.col-sm-6
              = label_tag :start_at, "起始时间（形如 2015/7/1）"
              = text_field_tag "course[start_at]", "", autofocus: true, class: "form-control"
            .form-group.col-sm-6
              = label_tag :start_at, "结束时间（形如 2015/7/1）"
              = text_field_tag "course[end_at]", "", autofocus: true, class: "form-control"
          .wrapper
            .form-group.col-sm-12
              = label_tag :start_at, "简介"
              = text_field_tag "course[desc]", "", autofocus: true, class: "form-control"
          .wrapper
            .form-group.col-sm-12
              = label_tag :textbook_url, "讲义封面"
              = file_field_tag "textbook"
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'
