- content_for :app_head do
  = javascript_include_tag "pages/client/coaches/index-bundle"
  = stylesheet_link_tag "pages/client/coaches/index-bundle", :media => "all"

%h4= "您当前共#{@coaches.length}位老师"

%ul
  - @coaches.each do |c|
    %li
      = link_to c.name, client_coach_path(c), class: "coach-detail"
      = link_to "删除", "/client/coaches/" + c.id, method: "delete", class: "delete-coach"
