- content_for :app_head do
  = stylesheet_link_tag "layouts/account-layout", :media => "all"
  = javascript_include_tag "layouts/account-layout"
  = yield :head
  :javascript
- content_for :app_content do
  = yield

= render :template => 'layouts/application'
