- content_for :app_head do
  = stylesheet_link_tag "layouts/admin-layout", :media => "all"
  = javascript_include_tag "layouts/admin-layout"
  = yield :head

- content_for :app_content do
  .welcome
    %span= "你好，" + @current_user.name + "（#{@current_user.email}）！"
    %a.change-password{href: "javascript:void(0);"} 修改密码
    %a{href: "/account/sessions/sign_out", data: {method: "delete"}, rel: "nofollow"} 退出
  .admin-nav
    %ul.nav.nav-tabs
      - if @current_user.super_admin
        %li.supers
          = link_to "超级管理员", { controller: "admin/supers", action: "index" }
      - if @current_user.permission & 1 == 1
        %li.teachers
          = link_to "教师列表", { controller: "admin/teachers", action: "index" }
      - if @current_user.super_admin || @current_user.permission & 2 == 2
        %li.courses
          = link_to "课程列表", { controller: "admin/courses", action: "index" }
      - if @current_user.super_admin || @current_user.permission & 32 == 32
        %li.clients
          = link_to "机构", { controller: "admin/clients", action: "index" }
      - if @current_user.super_admin || @current_user.permission & 4 == 4
        %li.news
          = link_to "新闻列表", { controller: "admin/weixin_news", action: "index" }
      - if @current_user.super_admin || @current_user.permission & 8 == 8
        %li.coaches
          = link_to "辅导老师", { controller: "admin/coaches", action: "index" }
      / - if @current_user.super_admin || @current_user.permission & 16 == 16
      /   %li.local_courses
      /     = link_to "本地课程", { controller: "admin/local_courses", action: "index" }
      - if @current_user.super_admin || @current_user.permission & 32 == 32
        %li.students
          = link_to "学生", { controller: "admin/students", action: "index" }
  = yield 


  #changePasswordModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 修改密码
        .modal-body
          %p
            = label_tag :password, "当前密码"
            = password_field_tag :password, "", class: "form-control"
          %p
            = label_tag :new_password, "新密码"
            = password_field_tag :new_password, "", class: "form-control"
          %p
            = label_tag :new_password_confirmation, "新密码重复"
            = password_field_tag :new_password_confirmation, "", class: "form-control"
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

= render :template => 'layouts/application'
