!!!
%html
  %head
    %title MathLib
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :app_head
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    #app-notification.jesse-notification
      - if @flash.present?
        %span= @flash
      - else
        %span= (flash.map { |name, msg| msg }).join(', ')
    #wrap
      = yield :app_nav
      = yield :app_content
      #push
    #footer
      .container
        %p.muted.credit
          = link_to "ChangeLog", { controller: "/teacher/homeworks", action: "index" }, :method => "get"
          %span= "|"
          = link_to "Feedback", { controller: "/teacher/homeworks", action: "index" }, :method => "get"
