!!!
%html
  %head
    %title 易飞网
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{"http-qeuiv" => "X-UA-Compatible", content: "IE=edge"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :app_head
    = csrf_meta_tags
  %body
    #app-notification.jesse-notification
      - if @flash.present?
        %span= @flash
      - else
        %span= (flash.map { |name, msg| msg }).join(', ')
    #wrap
      = yield :app_nav
      = yield :app_content

