- content_for :app_head do
  = stylesheet_link_tag "layouts/student-layout", :media => "all"
  = javascript_include_tag "layouts/student-layout"
  = yield :head
  :javascript
    window.controller = "#{params[:controller]}"
    window.action = "#{params[:action]}"
- content_for :app_content do
  = yield

= render :template => 'layouts/application'
