- content_for :app_head do
  = stylesheet_link_tag "layouts/homework-layout", :media => "all"
  = javascript_include_tag "layouts/homework-layout"
  :javascript
    window.homework_id = "#{@homework.id.to_s}"
    window.parent_id = "#{@homework.parent.id.to_s}"
- content_for :teacher_content do
  #title-bar
    #wrapper
      #title-wrapper
        %h2#title= truncate_u(@homework.name, 10)
        .title-edit.hide
          %input.form-control{type: "text", value: @homework.name}/
          %button.btn.btn-default.btn-sm.title-ok{data: {"homework-id" => @homework.id.to_s}} 确 定
          %button.btn.btn-default.btn-sm.title-cancel 取 消
        %i#title-edit-icon.edit.hide
      #operation-wrapper
        %ul
          %li
            %a.compose-link{href: "javascript:void(0);"}
              %i.icon.compose
              %span 选题
          / %li
          /   %a.remove-link{href: "javascript:void(0);"}
          /     %i.icon.remove
          /     %span 删除
          %li
            %a.download-link{href: "javascript:void(0);"}
              %i.icon.download
              %span 下载
          %li
            %a{href: settings_teacher_homework_path(@homework)}
              %i.icon.setting
              %span 设置
          %li
            %a{href: stat_teacher_homework_path(@homework)}
              %i.icon.stat
              %span 统计
          %li
            %a{href: teacher_homework_path(@homework)}
              %i.icon.edit
              %span 编辑
          %li
            %a{href: teacher_nodes_path + "?folder_id=" + @homework.parent.id.to_s}
              %i.icon.return
              %span 返回
  = yield

  #downloadModal.modal.fade
    .modal-dialog
      .modal-content
        = form_tag do
          .modal-header
            %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
            %h3 导出设置
          .modal-body
            / %p
            /   %span 导出文档格式
            / %p
            /   = radio_button_tag 'doc_type', "word", true
            /   = label_tag "doc_type_word", "word"
            /   = radio_button_tag 'doc_type', "pdf", false
            /   = label_tag "doc_type_pdf", "pdf"
            .checkbox
              = label_tag :include_app_qr_code do
                = check_box_tag :include_app_qr_code
                包含APP下载链接
            .checkbox
              = label_tag :include_question_qr_code do
                = check_box_tag :include_question_qr_code
                包含题目二维码
          .modal-footer
            = submit_tag "确定", :class => 'btn-primary btn'
            %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

= render :template => 'layouts/teacher'
