- content_for :app_head do
  = stylesheet_link_tag "layouts/homework-layout", :media => "all"
  = javascript_include_tag "layouts/homework-layout"
  :javascript
    window.homework_id = "#{@homework.id.to_s}"
    window.parent_id = "#{@homework.parent.id.to_s}"
- content_for :teacher_content do
  #title-bar
    #title-wrapper
      %h2#title= truncate_u(@homework.name, 10)
      .title-edit.hide
        %input.form-control{type: "text", value: @homework.name}/
        %button.btn.btn-default.btn-sm.title-ok{data: {"homework-id" => @homework.id.to_s}} 确 定
        %button.btn.btn-default.btn-sm.title-cancel 取 消
      %i#title-edit-icon.edit.hide
    #operation-wrapper
      %ul
        %li
          %a.remove-link{href: "javascript:void(0);"}
            %i.icon.remove
            %span 删除
        %li
          / %a{href: generate_teacher_homework_path(@homework)}
          %a.download-link{href: "javascript:void(0);"}
            %i.icon.download
            %span 下载
        %li
          %a{href: settings_teacher_homework_path(@homework)}
            %i.icon.setting
            %span 设置
        %li
          %a{href: stat_teacher_homework_path(@homework)}
            %i.icon.stat
            %span 统计
        %li
          %a{href: teacher_homework_path(@homework)}
            %i.icon.edit
            %span 编辑
        %li
          %a{href: teacher_nodes_path + "?folder_id=" + @homework.parent.id.to_s}
            %i.icon.return
            %span 返回
  = yield

#downloadModal.modal.fade
  .modal-dialog
    .modal-content
      = form_tag do
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 导出设置
        .modal-body
          %p
            %span 导出文档格式
          %p
            = radio_button_tag 'doc_type', "word", true
            = label_tag "doc_type_word", "word"
            = radio_button_tag 'doc_type', "pdf", false
            = label_tag "doc_type_pdf", "pdf"
          %p
            %span 是否包含二维码
          %p
            = radio_button_tag 'qr_code', "yes", true
            = label_tag "qr_code_yes", "包含"
            = radio_button_tag 'qr_code', "no", false
            = label_tag "qr_code_no", "不包含"
        .modal-footer
          = submit_tag "确定", :class => 'btn-primary btn'
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

= render :template => 'layouts/teacher'
