- content_for :app_head do
  = stylesheet_link_tag "layouts/teacher-layout", :media => "all"
  = javascript_include_tag "layouts/teacher-layout"
  = yield :head
  :javascript
    window.controller = "#{params[:controller]}"
    window.action = "#{params[:action]}"
- content_for :app_nav do
  #app-teacher-navbar.navbar.navbar-default{role: "navigation"}
    .navbar-header
      %a.navbar-brand{href: "/"} 易飞
    .container
      %ul.nav.navbar-nav
        %li.divider-vertical
        %li.homeworks
          %a{href: "/teacher/homeworks/"} 作业列表
        %li.divider-vertical
        %li
          %a{href: "#"} 使用指南
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          - if user_signed_in?
            %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
              = current_user.email
              %b.caret
            %ul.dropdown-menu
              - if current_user.school_admin
                %li
                  %a{href: "/school_admin/teachers", data: {method: "get"}} 学校管理员
              %li
                %a{href: "/teacher/settings/#{current_user.id.to_s}"} 个人设置
              %li
                %a{href: "/account/sessions/sign_out", data: {method: "delete"}, rel: "nofollow"} 退出
          - else
            %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
              Account
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "/users/sign_in"} 登录
              %li
                %a{href: "/users/sign_up"} 注册
- content_for :app_content do
  = yield

= render :template => 'layouts/application'
