- content_for :app_head do
  = stylesheet_link_tag "layouts/teacher-layout", :media => "all"
  = javascript_include_tag "layouts/teacher-layout"
  = yield :head
  :javascript
    window.controller = "#{params[:controller]}"
    window.action = "#{params[:action]}"
    window.show_compose = "#{@show_compose}"
    window.compose_qid_str = "#{@compose_qid_str}".split(',')
    window.included_qid_str = "#{@included_qid_str}".split(',')
- content_for :app_nav do
  #teacher-navbar
    .container-fluid
      %a.brand{href: "/"} 易飞
      %ul#teacher-nav
        %li
          %a{href: "/teacher/nodes/"} 文件夹
        %li
          %a{href: "/teacher/questions?type=zhuanxiang"} 在线题库
        %li
          %a{href: teacher_students_path } 学生管理
        %li
          %a{href: "#"} 使用指南
        %li
          %a.page-guide{href: "#"} 页面导览
      %ul.nav.pull-right
        %li
          - if user_signed_in?
            %a.ef-dropdown-toggle{href: "#"}
              = current_user.email
              %b.caret
            .ef-dropdown-menu.hide
              - if current_user.school_admin
                .ef-dropdown-item
                  %a{href: "/school_admin/teachers", data: {method: "get"}} 学校管理员
              .ef-dropdown-item
                %a{href: "/teacher/settings/#{current_user.id.to_s}"} 个人设置
              .ef-dropdown-item
                %a{href: "/account/sessions/sign_out", data: {method: "delete"}, rel: "nofollow"} 退出
          - else
            %a.ef-dropdown-toggle{href: "#"}
              帐号
              %b.caret
            .ef-dropdown-menu.hide
              .ef-dropdown-item
                %a{href: "/users/sign_in"} 登录
              .ef-dropdown-item
                %a{href: "/users/sign_up"} 注册
      .compose-indicator.pull-right.hide{data: {toggle: "tooltip"}, title: @compose_homework_name}
        %span 正在选题：
        %span.compose-question-number= @compose.questions.length
- content_for :app_content do
  = yield :teacher_content

= render :template => 'layouts/application'
