- content_for :app_head do
  = stylesheet_link_tag "layouts/weixin-layout", :media => "all"
  = javascript_include_tag "layouts/weixin-layout"
  = yield :head
- content_for :app_nav do
  #weixin-navbar
    - if (params[:controller] == "weixin/courses" && params[:action] == "show") || (params[:controller] == "weixin/reports" && params[:action] == "index") || (params[:controller] == "weixin/schedules" && params[:action] == "index")
      %a.left.filter-link{href: "javascript:void(0);"}
        %i.icon.filter
    - else
      %a.left.return-link{href: @return_path.present? ? @return_path : "javascript:void(0)"}
        %i.icon.return
    #title-wrapper
      %h1#title= @title
    %a.right.user-link{href: bind_info_weixin_users_path}
      %i.icon.user
- content_for :app_content do
  = yield

= render :template => 'layouts/application'
